<!-- ============================================ -->
<!--             Final Call to Action             -->
<!-- ============================================ -->

<!-- ============================================ -->
<!--                 Side By Side                 -->
<!-- ============================================ -->

<section id="sbs-2179">
    <div class="cs-container">
        <picture class="cs-picture cs-picture1">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="/assets/images/custom.jpg">
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)" srcset="/assets/images/custom.jpg">
            <img loading="lazy" decoding="async" src="/assets/images/custom.jpg" alt="wedding" width="384" height="509">
        </picture>
        <div class="cs-content">
            <span class="cs-topper"></span>
            <h2 class="cs-title" style="font-family: 'Trirong';font-weight: 300;">Custom Is What I Do</h2>
            <p class="cs-text">
                Your story is unique, and your art should be too. Let’s create a custom piece that reflects your faith, legacy, and the moments that matter most. Whether it’s inspired by scripture, a personal journey, or a meaningful memory, I’ll work closely with you to bring your vision to life.
            </p>
            <a href="/contact" class="cs-button-solid">Contact Me</a>
            <picture class="cs-picture cs-picture2">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/images/me2.jpg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/images/me2.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/me2.jpg" alt="wedding" width="383" height="262">
            </picture>
        </div>
    </div>
</section>