---
title: 'About | Brit Albin Art'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'about/'
eleventyNavigation:
    key: About Us
    order: 200
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/about.css">
{% endblock %}

{% block body %}
<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero-1160">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper"></span>
            <h1 class="cs-title" style="font-family: 'Trirong';font-weight: 300;">Faith You Can Frame</h1>
            <p class="cs-text">
                Weaving your story and God's word into meaningful art for your heart and home
            </p>
            <a href="/contact" class="cs-button-solid">Contact Me</a>
        </div>
    </div>

    <!--SVG V Graphic-->
    <!-- <img class="cs-graphic" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/centered-v.svg" alt="graphic" width="1920" height="163" aria-hidden="true"> -->

    <!-- Background Image, also BG Image is set in CSS at 1600px wide for parallax effect -->
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="/assets/images/about.jpg">
        <source media="(min-width: 601px)" srcset="/assets/images/about.jpg">
        <img decoding="async" src="/assets/images/about.jpg" alt="garage" width="2250" height="1500" aria-hidden="true">
    </picture>
</section>
                                
    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <!-- <section id="int-hero">
        <h1 id="home-h">About Us</h1>
        <picture>
            <source media="(max-width: 600px)" srcset="/assets/images/cabinets2-m.jpg">
            <source media="(min-width: 601px)" srcset="/assets/images/cabinets2.jpg">
            <img aria-hidden="true" decoding="async" src="/assets/images/cabinets2.jpg" alt="kitchen cabinets" loading="eager" width="2500" height="1667">
        </picture>

    </section> -->


    <!-- ============================================ -->
    <!--                 Side By Side                 -->
    <!-- ============================================ -->

    <section id="sbs">
        <div class="cs-container">
            <!-- Left Image Section -->
            <div class="cs-left">
                <picture class="cs-picture cs-picture1">
                    <source media="(max-width: 600px)" srcset="{% getUrl '/assets/images/me3.jpg' | resize({ width: 500, height:500}) | webp %}">
                    <source media="(min-width: 601px)" srcset="{% getUrl '/assets/images/me3.jpg' | resize({ width: 1000, height:1000}) | webp %}">
                    <img aria-hidden="true" decoding="async" src="{% getUrl '/assets/images/me3.jpg' | resize({ width: 1000, height:1000}) | webp %}" alt="cabinets" loading="lazy" width="400" height="563">
                </picture>
                <!-- <picture class="cs-picture cs-picture2">
                    <source media="(max-width: 600px)" srcset="/assets/images/me.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/me.jpg">
                    <img aria-hidden="true" decoding="async" src="/assets/images/me.jpg" alt="house" loading="lazy" width="400" height="563">
                </picture> -->
            </div>
            <!-- Right Content Section-->
            <div class="cs-right">
                <span class="cs-topper">About Me</span>
                <h2 class="cs-title" style="font-family: 'Trirong';font-weight: 300;">Hi I'm Brit!</h2>
                <p class="cs-text">
                    I believe art has the power to tell a story—one that speaks to the heart, honors faith, and connects generations. My work is deeply rooted in storytelling, creating custom pieces inspired by personal journeys and scripture. Each painting is more than art; it’s an intentional reflection of hope, meaning, and connection. Through my creative process, I help bring those stories to life in a way that feels personal and deeply significant.
                </p>
                <p class="cs-text">
                    
                </p>
                <div class="cs-flex-group">
                    <p class="cs-flex-p" style="font-size: 3rem;font-family: 'Austine';font-weight: 600;">
                        The walls of your home should tell your story, not someone else`s.
                    </p>
                    <span class="cs-name">Brit Albin</span>
                    <span class="cs-job"></span>
                    <img 
                    class="cs-quote-icon"
                    loading="lazy"
                    decoding="async"
                    src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/quote-white.svg"
                    alt="gavel"
                    width="136"
                    height="77"/>
                </div>
                <!-- <a href="/about" class="cs-button-solid">Learn More</a> -->
            </div>
        </div>
    </section>

    {% include 'components/cta.html' %}

{% endblock %}