---
title: 'Brit Albin Art | Home | Tulsa Ok'
description: ''
preloadImg: ''
permalink: '/home2'
tags: 'sitemap' # Sitemap will use all pages in content/, due to content.json. As index.html is not included in content/ we need to manually add the sitemap tag to this page (only).
eleventyNavigation:
  key: Home2
  order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/local.css"/>
    <link rel="stylesheet" href="/assets/css/critical.css"/>

    <!-- Script for Netlify Identity -->
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script defer>
        if (window.netlifyIdentity) {
            window
                .netlifyIdentity
                .on('init', (user) => {
                    if (!user) {
                        window
                            .netlifyIdentity
                            .on('login', () => {
                                document.location.href = '/admin/';
                            });
                    }
                });
        }
    </script>

    <!-- JSON Schema Markup -->
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "LocalBusiness",
            "name": "{{ client.name }}",
            {% if preloadImg %}"image": "{{ preloadImg }}",{% endif %}
            {% if client.phoneFormatted %}"telephone": "{{ client.phoneFormatted }}",{% endif %}
            {% if client.email %}"email": "{{ client.email }}",{% endif %}
            {% if client.address %}
                "address": {
                    "@type": "PostalAddress"{% if client.address.lineOne %},
                        "streetAddress": "{{ client.address.lineOne }}{% if client.address.lineTwo %}, {{ client.address.lineTwo }}{% endif %}"
                    {% endif %}
                    {% if client.address.city %},
                        "addressLocality": "{{ client.address.city }}"
                    {% endif %}
                    {% if client.address.state %},
                        "addressRegion": "{{ client.address.state }}"
                    {% endif %}
                    {% if client.address.zip %},
                        "postalCode": "{{ client.address.zip }}"
                    {% endif %}
                    {% if client.address.country %},
                        "addressCountry": "{{ client.address.country }}"
                    {% endif %}
                },
            {% endif %}
            {% if client.domain and page.url %}"url": "{{ client.domain }}{{ page.url }}",{% endif %}
            {% if client.socials %}
                "sameAs": [{% for platform, url in client.socials %}
                        {% if not loop.first %},{% endif %}
                        "{{ url }}"
                    {% endfor %}]
            {% endif %}
        }
    </script>
{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                    Hero                      -->
    <!-- ============================================ -->

    <section id="hero2">
        <div class="cs-container">
            <div class="cs-flex-group">
                <!-- <span class="cs-topper">mountain hiking society</span> -->
                <h1 class="cs-title" style="font-family: 'Trirong';font-weight: 300;">Faith-Driven Art That Tells <span style="font-family: 'Trirong';font-weight: 300;font-style: italic;">Your</span> Story</h1>
                <p class="cs-text" style="font-family: 'Rasa';font-size: 1.2em;">
                    Bringing Faith to Life Through Story-Driven Art That Fills Your Home with a Story Worth Sharing.
                </p>
                <a href="/gallery" class="cs-button-solid" style="font-family: 'Rasa';font-weight: 600;">Shop</a>
                <a href="/contact" class="cs-button-transparent" style="font-family: 'Rasa';font-weight: 600;">
                    CONTACT
                </a>
            </div>
        </div>

        <!-- Background Image -->
        <picture class="cs-picture">
            <source media="(max-width: 600px)" srcset="{% getUrl '/assets/images/hero.jpg' | resize({ width: 500, height:500}) | webp %}">
            <source media="(min-width: 601px)" srcset="{% getUrl '/assets/images/hero.jpg' | resize({ width: 1500, height:1500}) | webp %}">
            <img aria-hidden="true" decoding="async" src="{% getUrl '/assets/images/hero.jpg' | resize({ width: 1500, height:1500}) | webp %}" alt="new home" width="2500" height="1667" loading="eager">
        </picture>
    </section>

    

    <!-- ============================================ -->
    <!--                 Side By Side                 -->
    <!-- ============================================ -->

    <section id="sbs">
        <div class="cs-container">
            <!-- Left Image Section -->
            <div class="cs-left">
                <picture class="cs-picture cs-picture1">
                    <source media="(max-width: 600px)" srcset="{% getUrl '/assets/images/me3.jpg' | resize({ width: 500, height:500}) | webp %}">
                    <source media="(min-width: 601px)" srcset="{% getUrl '/assets/images/me3.jpg' | resize({ width: 1000, height:1000}) | webp %}">
                    <img aria-hidden="true" decoding="async" src="{% getUrl '/assets/images/me3.jpg' | resize({ width: 1000, height:1000}) | webp %}" alt="cabinets" loading="lazy" width="400" height="563">
                </picture>
                <!-- <picture class="cs-picture cs-picture2">
                    <source media="(max-width: 600px)" srcset="/assets/images/me.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/me.jpg">
                    <img aria-hidden="true" decoding="async" src="/assets/images/me.jpg" alt="house" loading="lazy" width="400" height="563">
                </picture> -->
            </div>
            <!-- Right Content Section-->
            <div class="cs-right">
                <span class="cs-topper">About Me</span>
                <h2 class="cs-title" style="font-family: 'Trirong';font-weight: 300;">Hi I'm Brit!</h2>
                <p class="cs-text">
                    I believe art has the power to tell a story—one that speaks to the heart, honors faith, and connects generations. My work is deeply rooted in storytelling, creating custom pieces inspired by personal journeys and scripture. Each painting is more than art; it’s an intentional reflection of hope, meaning, and connection. Through my creative process, I help bring those stories to life in a way that feels personal and deeply significant.
                </p>
                <p class="cs-text">
                    
                </p>
                <div class="cs-flex-group">
                    <p class="cs-flex-p" style="font-size: 3rem;font-family: 'Austine';font-weight: 600;">
                        The walls of your home should tell your story, not someone else`s.
                    </p>
                    <span class="cs-name">Brit Albin</span>
                    <span class="cs-job"></span>
                    <img 
                    class="cs-quote-icon"
                    loading="lazy"
                    decoding="async"
                    src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/quote-white.svg"
                    alt="gavel"
                    width="136"
                    height="77"/>
                </div>
                <a href="/about" class="cs-button-solid">Learn More</a>
            </div>
        </div>
    </section>

    <!-- ============================================ -->
    <!--            Extra Content To Rank             -->
    <!-- ============================================ -->

    <div class="custom-shape-divider-bottom-1742319428">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
            <path d="M1200 0L0 0 598.97 114.72 1200 0z" class="shape-fill"></path>
        </svg>
    </div>
    <style>
        .custom-shape-divider-bottom-1742319428 {
            width: 100%;
            overflow: hidden;
            line-height: 0;
            transform: rotate(180deg);
        }

        .custom-shape-divider-bottom-1742319428 svg {
            position: relative;
            display: block;
            width: calc(165% + 1.3px);
            height: 69px;
        }

        .custom-shape-divider-bottom-1742319428 .shape-fill {
            fill: #F1F1F4;
        }
    </style>

<!-- ============================================ -->
<!--             Side By Side Reverse             -->
<!-- ============================================ -->

<section id="sbsr-1076">
    <div class="cs-container">
        <div class="cs-image-group">
            <!--Top left image-->
            <picture class="cs-picture cs-picture1">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/mechanic4.jpg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/mechanic4.jpg">
                <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/mechanic4.jpg" alt="mechanic" width="217" height="440">
            </picture>
            <!--Middle image-->
            <picture class="cs-picture cs-picture2">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/images/painter.jpg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/images/painter.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/painter.jpg" alt="mechanic" width="305" height="600">
            </picture>
            <!--Bottom right image-->
            <picture class="cs-picture cs-picture3">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/images/crown.jpg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/images/crown.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/crown.jpg" alt="mechanic" width="216" height="440">
            </picture>
            <!--Stripe background-->
            <img class="cs-stripes" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/stripes.svg" alt="stripes" width="509" height="535" aria-hidden="true">
        </div>
        <div class="cs-right">
            <span class="cs-topper">Custom Artwork</span>
            <h2 class="cs-title" style="font-family: 'Trirong';font-weight: 300;">Collections and Custom</h2>
            <p class="cs-text">
                My artwork is created in thoughtfully curated collections, each rooted in a deeper story and message. The "Found" Collection speaks to renewal, redemption, and the beauty of being seen and known, while the "Freedom" Collection captures themes of breakthrough, courage, and spiritual transformation.
            </p>
            <p class="cs-text">
                Custom pieces are designed to tell your unique story through art, blending faith, personal memories, and meaningful details into a one-of-a-kind creation. Each piece is crafted with intention, whether inspired by a favorite scripture, a family legacy, or a deeply personal moment. My process is collaborative, ensuring that every brushstroke reflects the heart and vision behind your story.
            </p>
            <a href="/contact" class="cs-button-solid">Contact Me</a>
        </div>
    </div>
</section>
                                



    <!-- ============================================ -->
    <!--                   Gallery                    -->
    <!-- ============================================ -->

    <section id="gallery">
        <div class="cs-container">
            <!-- <span class="cs-topper">Our Portfolio</span> -->
            <h2 class="cs-title" style="font-family: 'Trirong';font-weight: 300;">Beautiful Stories</h2>
            <div class="cs-image-group">
                <!-- Row 1-->
                <div class="cs-row cs-row-1">
                    <!-- To add more images, copy and paste this row's picture tags here in order from cs-picture-1 to cs-picture-3 and they will maintain the same layout-->
                    <picture class="cs-picture cs-picture1">
                        <source media="(max-width: 600px)" srcset="/assets/images/arrow.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/arrow.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/arrow.jpg" alt="new hallway" loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="cs-picture cs-picture2">
                        <source media="(max-width: 600px)" srcset="/assets/images/brushes.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/brushes.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/brushes.jpg" alt="new home construction" loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="cs-picture cs-picture3">
                        <source media="(max-width: 600px)" srcset="/assets/images/roses.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/roses.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/roses.jpg" alt="building a new wall" loading="lazy" width="400" height="560">
                    </picture>
                </div>
                <!-- Row 2 -->
                <div class="cs-row cs-row-2">
                    <!-- To add more images, copy and paste this row's picture tags here in order from cs-picture-1 to cs-picture-3 and they will maintain the same layout-->
                    <picture class="cs-picture cs-picture1">
                        <source media="(max-width: 600px)" srcset="/assets/images/crown.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/crown.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/crown.jpg" alt="new kitchen" loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="cs-picture cs-picture2">
                        <source media="(max-width: 600px)" srcset="/assets/images/sunrise.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/sunrise.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/sunrise.jpg" alt="apartment addition" loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="cs-picture cs-picture3">
                        <source media="(max-width: 600px)" srcset="/assets/images/wing.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/wing.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/wing.jpg" alt="kew kitchen cabinets" loading="lazy" width="400" height="560">
                    </picture>
                </div>
                <!-- Row 3 -->
                <div class="cs-row cs-row-3">
                    <!-- To add more images, copy and paste this row's picture tags here in order from cs-picture-1 to cs-picture-3 and they will maintain the same layout-->
                    <picture class="cs-picture cs-picture1">
                        <source media="(max-width: 600px)" srcset="/assets/images/wings.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/wings.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/wings.jpg" alt="new kitchen" loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="cs-picture cs-picture2">
                        <source media="(max-width: 600px)" srcset="/assets/images/hands.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/hands.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/hands.jpg" alt="apartment addition" loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="cs-picture cs-picture3">
                        <source media="(max-width: 600px)" srcset="/assets/images/gold.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/gold.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/gold.jpg" alt="kew kitchen cabinets" loading="lazy" width="400" height="560">
                    </picture>

                </div>
            </div>
            <!-- <a href="/projects" class="cs-button-solid">View Full Gallery</a> -->
        </div>
    </section>
<!-- ============================================ -->
<!--                   Reviews                    -->
<!-- ============================================ -->
<div class="custom-shape-divider-bottom-1742319428">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <path d="M1200 0L0 0 598.97 114.72 1200 0z" class="shape-fill"></path>
    </svg>
</div>
<!-- Updated Reviews Section with Horizontal Carousel -->
<!-- Updated Reviews Section with Improved Drag & Mobile Horizontal Layout -->
<section id="reviews-608">
    <div class="cs-container">
      <div class="cs-content">
        <span class="cs-topper">My Reviews</span>
        <h2 class="cs-title" style="font-family: 'Trirong'; font-weight: 300;">Meaningful Memories</h2>
      </div>
  
      <!-- Carousel wrapper containing a single list of review cards -->
      <div class="reviews-carousel" style="margin: auto;">
        <ul class="cs-card-group" >
          <li class="cs-item">
            <!-- <img aria-hidden="true"  style="width: 100%;border-radius: 8px;margin-bottom: 0.5rem;"  decoding="async" src="{% getUrl '/assets/images/gold.jpg' | resize({ width: 500, height:500}) | webp %}" alt="kew kitchen cabinets" loading="lazy"> -->
            <!-- <img class="cs-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/stars-yellow.svg" alt="profile" width="116" height="20"> -->
            <h3 class="cs-h3">Truly one of a kind</h3>
            <p class="cs-item-text">
                "Her art is truly one of a kind. Divine. Heaven sent. It touches the deepest depths of one heart. She is an anointed artist! There is nothing like the pieces she creates and the stories behind each piece. There is a personal story attached to each creation and you get to hear all the stories and how they touch someone's life. It's all for His glory!"
            </p>
            <span class="cs-name">Nikki</span>
            <img class="cs-img" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/stars-yellow.svg" alt="profile" width="116" height="20">
          </li>
          <li class="cs-item">
            <!-- <img aria-hidden="true"  style="width: 100%;border-radius: 8px;margin-bottom: 0.5rem;"  decoding="async" src="{% getUrl '/assets/images/gold.jpg' | resize({ width: 500, height:500}) | webp %}" alt="kew kitchen cabinets" loading="lazy"> -->
            <!-- <img class="cs-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/stars-yellow.svg" alt="profile" width="116" height="20"> -->
            <h3 class="cs-h3">I love my painting</h3>
            <p class="cs-item-text">
                "I love my painting in honor of my niece who passed away. I never knew love in painting could feel so redeeming. I haven't figured out what I would love on the other 2 walls in my living room because nothing compares to your work so I have been thinking...what if I got one more...or what if I got 2 more to balance it everything out."
            </p>
            <span class="cs-name">Jennifer</span>
            <img class="cs-img" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/stars-yellow.svg" alt="profile" width="116" height="20">
          </li>
          <li class="cs-item">
            <!-- <img aria-hidden="true"  style="width: 100%;border-radius: 8px;margin-bottom: 0.5rem;"  decoding="async" src="{% getUrl '/assets/images/gold.jpg' | resize({ width: 500, height:500}) | webp %}" alt="kew kitchen cabinets" loading="lazy"> -->
            <!-- <img class="cs-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/stars-yellow.svg" alt="profile" width="116" height="20"> -->
            <h3 class="cs-h3">Has a spiritual depth</h3>
            <p class="cs-item-text">
                "Her art work is not only beautiful but has a spiritual depth and meaning not often found today"
            </p>
            <span class="cs-name">Catherine</span>
            <img class="cs-img" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/stars-yellow.svg" alt="profile" width="116" height="20">
          </li>
          <li class="cs-item">
            <!-- <img aria-hidden="true"  style="width: 100%;border-radius: 8px;margin-bottom: 0.5rem;"  decoding="async" src="{% getUrl '/assets/images/gold.jpg' | resize({ width: 500, height:500}) | webp %}" alt="kew kitchen cabinets" loading="lazy"> -->
            <!-- <img class="cs-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/stars-yellow.svg" alt="profile" width="116" height="20"> -->
            <h3 class="cs-h3">Beyond Gorgeous</h3>
            <p class="cs-item-text">
                "These paintings are beyond gorgeous. My husband hadn't really looked at them & brought one to me. He was so impressed with the beautiful art & the fact you put the verse inside. Thank you again!!"
            </p>
            <span class="cs-name">Terri</span>
            <img class="cs-img" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/stars-yellow.svg" alt="profile" width="116" height="20">
          </li>
          <li class="cs-item">
            <!-- <img aria-hidden="true"  style="width: 100%;border-radius: 8px;margin-bottom: 0.5rem;"  decoding="async" src="{% getUrl '/assets/images/gold.jpg' | resize({ width: 500, height:500}) | webp %}" alt="kew kitchen cabinets" loading="lazy"> -->
            <!-- <img class="cs-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/stars-yellow.svg" alt="profile" width="116" height="20"> -->
            <h3 class="cs-h3">So special</h3>
            <p class="cs-item-text">
                "I immediately teared up when I opened our Raising Arrows painting. The kids felt so special and my husband adores it as well! Such a special, SPECIAL piece"
            </p>
            <span class="cs-name">Natalie</span>
            <img class="cs-img" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/stars-yellow.svg" alt="profile" width="116" height="20">
          </li>
          
          <!-- Add additional review items as needed -->
        </ul>
      </div>
  
      <div class="carousel-arrows">
        <button class="carousel-arrow left">&lt;</button>
        <button class="carousel-arrow right">&gt;</button>
      </div>
      <!-- Navigation arrows -->
    </div>
  </section>
  
  
  
                                
<!-- ============================================ -->
<!--                   Reviews                    -->
<!-- ============================================ -->

<!-- 
<section id="reviews-64">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Our Reviews</span>
            <h2 class="cs-title" style="font-family: 'Trirong';font-weight: 300;">Meaningful Moments</h2>
            <p class="cs-text">
                
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <img class="cs-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/stars-yellow.svg" alt="profile" width="116" height="20">
                <span class="cs-name">Nikki</span>
                <span class="cs-desc"></span>
                <p class="cs-item-text">
                    "Her art is truly one of a kind. Divine. Heaven sent. It touches the deepest depths of one heart. She is an anointed artist! There is nothing like the pieces she creates and the stories behind each piece. There is a personal story attached to each creation and you get to hear all the stories and how they touch someone's life. It's all for His glory!"
                </p>
            </li>
            <li class="cs-item">
                <img class="cs-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/stars-yellow.svg" alt="profile" width="116" height="20">
                <span class="cs-name">Jennifer</span>
                <span class="cs-desc"></span>
                <p class="cs-item-text">
                    "I love my painting in honor of my niece who passed away. I never knew love in painting could feel so redeeming. I haven't figured out what I would love on the other 2 walls in my living room because nothing compares to your work so I have been thinking...what if I got one more...or what if I got 2 more to balance it everything out."
                </p>
            </li>
            <li class="cs-item">
                <img class="cs-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/stars-yellow.svg" alt="profile" width="116" height="20">
                <span class="cs-name">Catherine</span>
                <span class="cs-desc"></span>
                <p class="cs-item-text">
                    "Her art work is not only beautiful but has a spiritual depth and meaning not often found today"
                </p>
            </li>
            <li class="cs-item">
                <img class="cs-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/stars-yellow.svg" alt="profile" width="116" height="20">
                <span class="cs-name">Terri</span>
                <span class="cs-desc"></span>
                <p class="cs-item-text">
                    "These paintings are beyond gorgeous. My husband hadn't really looked at them & brought one to me. He was so impressed with the beautiful art & the fact you put the verse inside. Thank you again!!"
                </p>
            </li>
            <li class="cs-item">
                <img class="cs-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/stars-yellow.svg" alt="profile" width="116" height="20">
                <span class="cs-name">Natalie</span>
                <span class="cs-desc"></span>
                <p class="cs-item-text">
                    "I immediately teared up when I opened our Raising Arrows painting. The kids felt so special and my husband adores it as well! Such a special, SPECIAL piece"
                </p>
            </li>
            
        </ul>
    </div>
</section> -->
                                
                                

    {% include 'components/cta.html' %}
{% endblock %}