---
title: 'Shop | Brit Albin Art'
description: 'Explore Brit Albin Art’s shop for faith-inspired originals, prints, and gifts—scripture-rooted artwork to uplift your home and heart.'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'shop/'
eleventyNavigation:
    key: Shop
    order: 200
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/shop.css">
{% endblock %}

{% block body %}
<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero-shop">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper"></span>
            <h1 class="cs-title" style="font-family: 'Trirong';font-weight: 300;">Mended At The<br> Cross Collection</h1>
            <p class="cs-text">
                 
            </p>
            <!-- <a href="https://payhip.com/BritAlbinArt" class="cs-button-solid">My Store</a> -->
        </div>
    </div>

    <!--SVG V Graphic-->
    <!-- <img class="cs-graphic" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/centered-v.svg" alt="graphic" width="1920" height="163" aria-hidden="true"> -->

    <!-- Background Image, also BG Image is set in CSS at 1600px wide for parallax effect -->
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="/assets/images/shop/bg_brown.jpg">
        <source media="(min-width: 601px)" srcset="/assets/images/shop/bg_brown.jpg">
        <img decoding="async" src="/assets/images/shop/bg_brown.jpg" alt="garage" width="2250" height="1500" aria-hidden="true">
    </picture>
</section>


<div class="custom-shape-divider-top-1743380496">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <path d="M1200 0L0 0 892.25 114.72 1200 0z" class="shape-fill"></path>
    </svg>
</div>

<style>
    .custom-shape-divider-top-1743380496 {
    position: relative;
    top: -0.5px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1743380496 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 92px;
    transform: rotateY(180deg);
}

.custom-shape-divider-top-1743380496 .shape-fill {
    fill: #8e7c6a;
}
</style>

<section id="sbs">
    <div class="cs-container">
        <div class="cs-right" style="display: flex;flex-direction: column;align-items: center; padding: 3em;">
            <h2 class="cs-title" style="font-family: 'Trirong';font-weight: 300;">This collection was born out of a deeply personal story.</h2>
            <p class="cs-text" style="text-align: center;">
                It began with a painting I created for a friend who was walking through a very painful divorce. After over a year of separation and ongoing legal battles, he asked me to create something for his soon-to-be ex-wife, a gift of encouragement, a symbol of hope. The painting was meant to remind them both that no matter the hurt of the past or the unknown future, God can redeem what feels broken beyond repair. Three months after receiving their painting and, after both friends surrendered their brokenness to Jesus, I received a text message I'll never forget: "Your painting is hanging in the center of OUR home." God restored their marriage! The painting now hangs in their living room with their initials on each side and has become a symbol of the restoration God brought to their family. What a God of restoration we serve!!!        
            </p>
            <p class="cs-text">
                
            </p>
        </div>
    </div>
</section>
                                
    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <!-- <section id="int-hero">
        <h1 id="home-h">About Us</h1>
        <picture>
            <source media="(max-width: 600px)" srcset="/assets/images/cabinets2-m.jpg">
            <source media="(min-width: 601px)" srcset="/assets/images/cabinets2.jpg">
            <img aria-hidden="true" decoding="async" src="/assets/images/cabinets2.jpg" alt="kitchen cabinets" loading="eager" width="2500" height="1667">
        </picture>

    </section> -->


    <!-- ============================================ -->
<!--                 Collection                   -->
<!-- ============================================ -->

<section id="collection-1624">
    <div class="cs-container">
        <div class="cs-content">
            <h2 class="cs-title" style="font-family: 'Trirong';font-weight: 300;"><a href="https://payhip.com/BritAlbinArt" class="cs-button-solid">My Store</a></h2>
            
            <!-- <a href="" class="cs-button-solid">View All Collection</a> -->
        </div>
        <div class="cs-collection-wrapper">
            <ul class="cs-card-group">
                <li class="cs-item">
                    <a href="https://payhip.com/b/fhGVL" class="cs-link">
                        <div class="cs-image-group">
                            <picture class="cs-picture">
                                <!--Mobile Image-->
                                <source media="(max-width: 600px)" srcset="{% getUrl '/assets/images/shop/1.jpg'  %}">
                                <!--Tablet and above Image-->
                                <source media="(min-width: 601px)" srcset="{% getUrl '/assets/images/shop/1.jpg'  %}">
                                <img loading="lazy" decoding="async" src="{% getUrl '/assets/images/shop/1.jpg'  %}" alt="painting" width="1280" height="1280">
                            </picture>
                            <!-- <span class="cs-offer"></span> -->
                        </div>
                        <div class="cs-details">
                            <h3 class="cs-product">Mended At The Cross (First Original of this Collection)</h3>
                            <div class="cs-wrapper">
                                <div class="cs-flex">
                                    <span class="cs-price">$300.00</span>
                                    <!-- <span class="cs-old-price">$45.00</span> -->
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="cs-item">
                    <a href="https://payhip.com/b/2LYqo" class="cs-link">
                        <div class="cs-image-group">
                            <picture class="cs-picture">
                                <!--Mobile Image-->
                                <source media="(max-width: 600px)" srcset="{% getUrl '/assets/images/shop/2.jpg'  %}">
                                <!--Tablet and above Image-->
                                <source media="(min-width: 601px)" srcset="{% getUrl '/assets/images/shop/2.jpg'  %}">
                                <img loading="lazy" decoding="async" src="{% getUrl '/assets/images/shop/2.jpg'  %}" alt="painting" width="1280" height="1280">
                            </picture>
                            <!-- <span class="cs-offer"></span> -->
                        </div>
                        <div class="cs-details">
                            <h3 class="cs-product">Mended At The Cross - 24 X 48 Original</h3>
                            <div class="cs-wrapper">
                                <div class="cs-flex">
                                    <span class="cs-price">$1,150</span>
                                    <!-- <span class="cs-old-price">$45.00</span> -->
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="cs-item">
                    <a href="https://payhip.com/b/Of0l3" class="cs-link">
                        <div class="cs-image-group">
                            <picture class="cs-picture">
                                <!--Mobile Image-->
                                <source media="(max-width: 600px)" srcset="{% getUrl '/assets/images/shop/3.jpg'  %}">
                                <!--Tablet and above Image-->
                                <source media="(min-width: 601px)" srcset="{% getUrl '/assets/images/shop/3.jpg' %}">
                                <img loading="lazy" decoding="async" src="{% getUrl '/assets/images/shop/3.jpg'  %}" alt="painting" width="1280" height="1280">
                            </picture>
                            <!-- <span class="cs-offer"></span> -->
                        </div>
                        <div class="cs-details">
                            <h3 class="cs-product">Mended At The Cross 10 X 20 Original (Beige)</h3>
                            <div class="cs-wrapper">
                                <div class="cs-flex">
                                    <span class="cs-price">$215.00</span>
                                    <!-- <span class="cs-old-price">$45.00</span> -->
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="cs-item">
                    <a href="https://payhip.com/b/O9pKS" class="cs-link">
                        <div class="cs-image-group">
                            <picture class="cs-picture">
                                <!--Mobile Image-->
                                <source media="(max-width: 600px)" srcset="{% getUrl '/assets/images/shop/4.jpg'  %}">
                                <!--Tablet and above Image-->
                                <source media="(min-width: 601px)" srcset="{% getUrl '/assets/images/shop/4.jpg'  %}">
                                <img loading="lazy" decoding="async" src="{% getUrl '/assets/images/shop/4.jpg'  %}" alt="painting" width="1280" height="1280">
                            </picture>
                            <!-- <span class="cs-offer"></span> -->
                        </div>
                        <div class="cs-details">
                            <h3 class="cs-product">Mended At The Cross - 10 X 20 Original (Blue Grey)</h3>
                            <div class="cs-wrapper">
                                <div class="cs-flex">
                                    <span class="cs-price">$80.00</span>
                                    <!-- <span class="cs-old-price">$45.00</span> -->
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="cs-item">
                    <a href="https://payhip.com/b/XCqyh" class="cs-link">
                        <div class="cs-image-group">
                            <picture class="cs-picture">
                                <!--Mobile Image-->
                                <source media="(max-width: 600px)" srcset="{% getUrl '/assets/images/shop/5.jpg'  %}">
                                <!--Tablet and above Image-->
                                <source media="(min-width: 601px)" srcset="{% getUrl '/assets/images/shop/5.jpg'  %}">
                                <img loading="lazy" decoding="async" src="{% getUrl '/assets/images/shop/5.jpg'  %}" alt="painting" width="1280" height="1280">
                            </picture>
                            <!-- <span class="cs-offer"></span> -->
                        </div>
                        <div class="cs-details">
                            <h3 class="cs-product">Mended At The Cross - 12 X 36 Original & Prints</h3>
                            <div class="cs-wrapper">
                                <div class="cs-flex">
                                    <span class="cs-price">$400.00</span>
                                    <!-- <span class="cs-old-price">$45.00</span> -->
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="cs-item">
                    <a href="https://payhip.com/b/k0XvSt" class="cs-link">
                        <div class="cs-image-group">
                            <picture class="cs-picture">
                                <!--Mobile Image-->
                                <source media="(max-width: 600px)" srcset="{% getUrl '/assets/images/shop/6.jpg'  %}">
                                <!--Tablet and above Image-->
                                <source media="(min-width: 601px)" srcset="{% getUrl '/assets/images/shop/6.jpg'  %}">
                                <img loading="lazy" decoding="async" src="{% getUrl '/assets/images/shop/6.jpg'  %}" alt="painting" width="1280" height="1280">
                            </picture>
                            <!-- <span class="cs-offer"></span> -->
                        </div>
                        <div class="cs-details">
                            <h3 class="cs-product">Mended At The Cross 4 X 12 (Framed)</h3>
                            <div class="cs-wrapper">
                                <div class="cs-flex">
                                    <span class="cs-price">$90.00</span>
                                    <!-- <span class="cs-old-price">$45.00</span> -->
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="cs-item">
                    <a href="https://payhip.com/b/odDYA" class="cs-link">
                        <div class="cs-image-group">
                            <picture class="cs-picture">
                                <!--Mobile Image-->
                                <source media="(max-width: 600px)" srcset="{% getUrl '/assets/images/shop/7.jpg'  %}">
                                <!--Tablet and above Image-->
                                <source media="(min-width: 601px)" srcset="{% getUrl '/assets/images/shop/7.jpg'  %}">
                                <img loading="lazy" decoding="async" src="{% getUrl '/assets/images/shop/7.jpg'  %}" alt="painting" width="1280" height="1280">
                            </picture>
                            <!-- <span class="cs-offer"></span> -->
                        </div>
                        <div class="cs-details">
                            <h3 class="cs-product">Mended At The Cross - 8 X 16 Originals</h3>
                            <div class="cs-wrapper">
                                <div class="cs-flex">
                                    <span class="cs-price">$145.00</span>
                                    <!-- <span class="cs-old-price">$45.00</span> -->
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="cs-item">
                    <a href="https://payhip.com/b/ulDGo" class="cs-link">
                        <div class="cs-image-group">
                            <picture class="cs-picture">
                                <source media="(max-width: 600px)" srcset="{% getUrl '/assets/images/shop/8.jpg'  %}">
                                <source media="(min-width: 601px)" srcset="{% getUrl '/assets/images/shop/8.jpg'  %}">
                                <img loading="lazy" decoding="async" src="{% getUrl '/assets/images/shop/8.jpg'  %}" alt="painting" width="1280" height="1280">
                            </picture>
                        </div>
                        <div class="cs-details">
                            <h3 class="cs-product">Mended At the Cross 4 X 12 Original</h3>
                            <div class="cs-wrapper">
                                <div class="cs-flex">
                                    <span class="cs-price">$85.00</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="cs-item">
                    <a href="https://payhip.com/b/ukbZ2" class="cs-link">
                        <div class="cs-image-group">
                            <picture class="cs-picture">
                                <source media="(max-width: 600px)" srcset="{% getUrl '/assets/images/shop/9.jpg'  %}">
                                <source media="(min-width: 601px)" srcset="{% getUrl '/assets/images/shop/9.jpg'  %}">
                                <img loading="lazy" decoding="async" src="{% getUrl '/assets/images/shop/9.jpg'  %}" alt="painting" width="1280" height="1280">
                            </picture>
                        </div>
                        <div class="cs-details">
                            <h3 class="cs-product">Cross Ornament</h3>
                            <div class="cs-wrapper">
                                <div class="cs-flex">
                                    <span class="cs-price">$15.00</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                <!-- <li class="cs-item">
                    <a href="https://payhip.com/b/Of0l3" class="cs-link">
                        <div class="cs-image-group">
                            <picture class="cs-picture">
                                <source media="(max-width: 600px)" srcset="{% getUrl '/assets/images/shop/8x16.jpg'  %}">
                                <source media="(min-width: 601px)" srcset="{% getUrl '/assets/images/shop/8x16.jpg'  %}">
                                <img loading="lazy" decoding="async" src="{% getUrl '/assets/images/shop/8x16.jpg'  %}" alt="painting" width="1280" height="1280">
                            </picture>
                        </div>
                        <div class="cs-details">
                            <h3 class="cs-product">Mended At The Cross - 10 X 20 Original</h3>
                            <div class="cs-wrapper">
                                <div class="cs-flex">
                                    <span class="cs-price">$215.00</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="cs-item">
                    <a href="https://payhip.com/b/O9pKS" class="cs-link">
                        <div class="cs-image-group">
                            <picture class="cs-picture">
                                <source media="(max-width: 600px)" srcset="{% getUrl '/assets/images/shop/8x16.jpg'  %}">
                                <source media="(min-width: 601px)" srcset="{% getUrl '/assets/images/shop/8x16.jpg'  %}">
                                <img loading="lazy" decoding="async" src="{% getUrl '/assets/images/shop/8x16.jpg'  %}" alt="painting" width="1280" height="1280">
                            </picture>
                        </div>
                        <div class="cs-details">
                            <h3 class="cs-product">Mended At The Cross #2 - 10 X 20 Original</h3>
                            <div class="cs-wrapper">
                                <div class="cs-flex">
                                    <span class="cs-price">$215.00</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="cs-item">
                    <a href="https://payhip.com/b/2LYqo" class="cs-link">
                        <div class="cs-image-group">
                            <picture class="cs-picture">
                                <source media="(max-width: 600px)" srcset="{% getUrl '/assets/images/shop/GoldCross24X48.jpg'  %}">
                                <source media="(min-width: 601px)" srcset="{% getUrl '/assets/images/shop/GoldCross24X48.jpg'  %}">
                                <img loading="lazy" decoding="async" src="{% getUrl '/assets/images/shop/GoldCross24X48.jpg'  %}" alt="painting" width="1280" height="1280">
                            </picture>
                        </div>
                        <div class="cs-details">
                            <h3 class="cs-product">Mended At The Cross - 24 X 48 Original</h3>
                            <div class="cs-wrapper">
                                <div class="cs-flex">
                                    <span class="cs-price">$800.00</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </li> -->
                <!-- <li class="cs-item">
                    <a href="https://payhip.com/b/isRvz" class="cs-link">
                        <div class="cs-image-group">
                            <picture class="cs-picture">
                                <source media="(max-width: 600px)" srcset="/assets/images/shop/clock.jpg">
                                <source media="(min-width: 601px)" srcset="/assets/images/shop/clock.jpg">
                                <img loading="lazy" decoding="async" src="/assets/images/shop/clock.jpg" alt="painting" width="1280" height="1280">
                            </picture>
                        </div>
                        <div class="cs-details">
                            <h3 class="cs-product">"For Such A Time As This" Archival Giclee Paper Prints</h3>
                            <div class="cs-wrapper">
                                <div class="cs-flex">
                                    <span class="cs-price">$35.00</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="cs-item">
                    <a href="https://payhip.com/b/pBeF0" class="cs-link">
                        <div class="cs-image-group">
                            <picture class="cs-picture">
                                <source media="(max-width: 600px)" srcset="/assets/images/shop/clock2.jpg">
                                <source media="(min-width: 601px)" srcset="/assets/images/shop/clock2.jpg">
                                <img loading="lazy" decoding="async" src="/assets/images/shop/clock2.jpg" alt="painting" width="1280" height="1280">
                            </picture>
                        </div>
                        <div class="cs-details">
                            <h3 class="cs-product">Limited Edition "For Such A Time As This" Gallery Wrapped Canvas Print</h3>
                            <div class="cs-wrapper">
                                <div class="cs-flex">
                                    <span class="cs-price">$225.00</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </li> -->
            </ul>
        </div>
    </div>
</section>
<div style="display: flex;flex-direction: column;align-items: center;">

    <a href="/contact" class="cs-button-solid" style="color: white;">Contact For Custom Sizes</a>
</div>


<div class="custom-shape-divider-bottom-1743381112">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <path d="M892.25 114.72L0 0 0 120 1200 120 1200 0 892.25 114.72z" class="shape-fill"></path>
    </svg>
</div>

<style>
    .custom-shape-divider-bottom-1743381112 {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1743381112 svg {
    position: relative;
    display: block;
    width: calc(297% + 1.3px);
    height: 92px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1743381112 .shape-fill {
    fill: #FBF5F1;
}
</style>

    {% include 'components/cta.html' %}

{% endblock %}