/*-- -------------------------- -->
<---        Collection          -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #collection-1624 {
    padding: var(--sectionPadding);
  }
  #collection-1624 .cs-container {
    width: 100%;
    max-width: 36.5rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
    position: relative;
    z-index: 1;
  }
  #collection-1624 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: center;
    width: 100%;
    /* breaks up the parent div so the children are no longer bound by it.  Now the children can be children of the cs-container and allow us to arrange their order with the cs-card-group */
    display: contents;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
  }
  #collection-1624 .cs-title {
    margin: 0;
  }
  #collection-1624 .cs-button-solid {
    font-size: 1rem;
    font-weight: 700;
    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
    text-align: center;
    text-decoration: none;
    min-width: 9.375rem;
    margin: 1rem 0 0;
    box-sizing: border-box;
    padding: 0 1.5rem;
    color: #fff;
    background-color: var(--primary);
    display: inline-block;
    position: relative;
    z-index: 1;
    order: 3;
  }
  #collection-1624 .cs-button-solid:before {
    content: "";
    width: 0%;
    height: 100%;
    background: #000;
    opacity: 1;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width 0.3s;
  }
  #collection-1624 .cs-button-solid:hover:before {
    width: 100%;
  }
  #collection-1624 .cs-collection-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    align-items: stretch;
    gap: 1.25rem;
  }
  #collection-1624 .cs-item-offer {
    width: 100%;
    max-height: 100%;
    height: auto;
    background-color: #e8e7e4;
    display: flex;
    flex-direction: column;
    grid-column: span 12;
    align-items: flex-start;
    position: relative;
    z-index: 1;
  }
  #collection-1624 .cs-text-wrapper {
    /* 40px to 80px top and bottom */
    /* 24px - 40px left & right */
    padding: clamp(2.5rem, 8vw, 5rem) clamp(1.5rem, 4vw, 2.5rem);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    z-index: 1;
  }
  #collection-1624 .cs-card-group {
    width: 100%;
    margin: 0;
    padding: 0;
    display: grid;
    justify-items: center;
    align-items: center;
    position: relative;
    grid-template-columns: repeat(auto-fit, minmax(19.0625rem, 1fr));
    column-gap: clamp(1rem, 3vw, 1.25rem);
    row-gap: clamp(1rem, 3vw, 1.5rem);
    grid-column: span 12;
    transform-style: preserve-3d;
  }
  #collection-1624 .cs-item {
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    position: relative;
  }
  #collection-1624 .cs-item:hover .cs-picture {
    background-color: rgba(0, 0, 0, 0.1);
  }
  #collection-1624 .cs-item:hover .cs-picture img {
    transform: scale(1.05);
  }
  #collection-1624 .cs-offer-tag {
    font-size: 0.8125rem;
    font-weight: 700;
    line-height: 1.2em;
    text-transform: uppercase;
    width: fit-content;
    margin-bottom: 0.5rem;
    padding: 0.25rem 0.5rem;
    color: #f7f7f7;
    background-color: var(--secondary);
    display: block;
  }
  #collection-1624 .cs-h3 {
    font-size: clamp(1.9375rem, 5vw, 2.4375rem);
    font-weight: 900;
    line-height: 1.2em;
    max-width: 20ch;
    margin: 0 0 0.25rem;
    color: var(--headerColor);
  }
  #collection-1624 .cs-item-text {
    font-size: 1rem;
    line-height: 1.5em;
    color: var(--bodyTextColor);
    display: block;
  }
  #collection-1624 .cs-background {
    width: 100%;
    height: clamp(300px, 40vw, 600px);
    background-color: #e8e7e4;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    position: relative;
    z-index: -2;
  }
  #collection-1624 .cs-background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    transition: opacity 0.3s, transform 0.6s;
  }
  #collection-1624 .cs-link {
    text-decoration: none;
  }
  #collection-1624 .cs-image-group {
    width: auto;
    height: 18.75rem;
    margin-bottom: 1.25rem;
    position: relative;
  }
  #collection-1624 .cs-picture {
    width: 100%;
    height: 100%;
    background-color: #f6f6f6;
    display: block;
    overflow: hidden;
  }
  #collection-1624 .cs-picture img {
    max-height: 25rem;
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: transform 0.3s;
  }
  #collection-1624 .cs-offer {
    font-size: 0.8125rem;
    font-weight: 700;
    line-height: 1.2em;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    padding: 0.375rem;
    color: #fff;
    background: #ff4747;
    position: absolute;
    top: 0.75rem;
    right: 0.75rem;
  }
  #collection-1624 .cs-product {
    font-size: clamp(1.25rem, 3vw, 1.5rem);
    font-weight: 700;
    line-height: 1.2em;
    margin: 0;
    color: var(--headerColor);
  }
  #collection-1624 .cs-wrapper {
    margin-top: 0.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #collection-1624 .cs-price {
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.2em;
    color: var(--primary);
  }
  #collection-1624 .cs-old-price {
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.2em;
    text-decoration: line-through;
    color: #767676;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #collection-1624 .cs-container {
    max-width: 80rem;
  }
  #collection-1624 .cs-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 3rem;
    grid-column: span 12;
  }
  #collection-1624 .cs-h3 {
    margin-bottom: 0.25rem;
  }
  #collection-1624 .cs-item-text {
    margin-bottom: 2rem;
  }
  #collection-1624 .cs-button-solid {
    margin: 0;
  }
  #collection-1624 .cs-text-wrapper {
    width: 100%;
    height: 100%;
    margin: 0;
    /* 16px - 20px */
    padding-left: clamp(1rem, 1.5vw, 1.25rem);
    padding-right: clamp(1rem, 1.5vw, 1.25rem);
    grid-column: span 5;
  }
  #collection-1624 .cs-card-group {
    width: auto;
    grid-column: span 7;
    grid-template-columns: repeat(12, 1fr);
    align-items: stretch;
  }
  #collection-1624 .cs-item {
    height: 100%;
    grid-column: span 6;
  }
  #collection-1624 .cs-background {
    height: 100%;
  }
  #collection-1624 .cs-image-group {
    height: auto;
    min-height: clamp(12rem, 23vw, 20rem);
  }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #collection-1624 .cs-item-offer {
    height: auto;
    grid-column: span 3;
  }
  #collection-1624 .cs-card-group {
    grid-column: span 9;
  }
  #collection-1624 .cs-item {
    grid-column: span 4;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #collection-1624 .cs-title,
  body.dark-mode #collection-1624 .cs-product,
  body.dark-mode #collection-1624 .cs-price,
  body.dark-mode #collection-1624 .cs-old-price {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #collection-1624 .cs-item {
    border-color: rgba(255, 255, 255, 0.2);
  }
  body.dark-mode #collection-1624 .cs-item:hover .cs-picture {
    background-color: rgba(255, 255, 255, 0.2);
  }
  body.dark-mode #collection-1624 .cs-picture {
    background-color: rgba(255, 255, 255, 0.1);
  }
}
/*
*-- -------------------------- -->
<---           Hero             -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #hero-shop {
    /* 200px - 300px - leaving extra space for the navigation */
    padding: clamp(12.5rem, 31.95vw, 18.75rem) 1rem 0;
    /* 150px - 300px */
    padding-bottom: clamp(9.375rem, 22vw, 18.75rem);
    /* prevents padding and border from affecting height and width */
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    z-index: 1;
  }
  #hero-shop .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #hero-shop .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: center;
    width: 100%;
    max-width: 39.375rem;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
  }
  #hero-shop .cs-topper {
    font-size: var(--topperFontSize);
    line-height: 1.2em;
    text-transform: uppercase;
    text-align: inherit;
    letter-spacing: 0.1em;
    font-weight: 700;
    color: var(--secondary);
    margin-bottom: 0.25rem;
    display: block;
  }
  #hero-shop .cs-title {
    /* 39px - 61px */
    font-size: clamp(3rem, 3rem, 5rem);
    font-weight: 700;
    line-height: 1.2em;
    text-align: inherit;
    max-width: 51.8125rem;
    margin: 0 0 1rem 0;
    color: #fff;
    position: relative;
  }
  #hero-shop .cs-text {
    /* 16px - 20px */
    font-size: clamp(1rem, 1.95vw, 1.25rem);
    line-height: 1.5em;
    text-align: inherit;
    width: 100%;
    /* 464px - 622px */
    max-width: clamp(29rem, 60vw, 38.785rem);
    margin: 0 0 2.5rem 0;
    color: #fff;
  }
  #hero-shop .cs-button-solid {
    font-size: 1rem;
    /* 46px - 56px */
    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
    text-decoration: none;
    font-weight: 700;
    margin: 0;
    color: #fff;
    padding: 0 1.5rem;
    background-color: var(--primary);
    display: inline-block;
    position: relative;
    z-index: 1;
  }
  #hero-shop .cs-button-solid:before {
    content: "";
    position: absolute;
    display: block;
    height: 100%;
    width: 0%;
    background: var(--buttonBackgroundColor);
    opacity: 1;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width 0.3s;
  }
  #hero-shop .cs-button-solid:hover:before {
    width: 100%;
  }
  #hero-shop .cs-graphic {
    width: 100%;
    height: auto;
    position: absolute;
    bottom: -1px;
    left: 0;
  }
  #hero-shop .cs-background {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
  }
  #hero-shop .cs-background:before {
    /* Overlay */
    content: "";
    width: 100%;
    height: 100%;
    background: #897361ab;
    opacity: 0.84;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: 1;
    /* prevents the cursor from interacting with it */
    pointer-events: none;
  }
  #hero-shop .cs-background img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    /* makes the top of the image start at the top of the parent */
    object-position: top;
  }
  #hero-shop .cs-button-transparent {
    z-index: 1;
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--bodyTextColorWhite);
    margin: 0 0.5rem;
    background-color: transparent;
    /* 46px - 56px */
    height: clamp(2.875em, 5.5vw, 3.5em);
    width: 11.25rem;
    box-sizing: border-box;
    padding: 0;
    text-decoration: none;
    font-size: 1rem;
    /* 46px - 56px */
    line-height: clamp(2.875em, 5.5vw, 3.5em);
    font-weight: 700;
    color: #fff;
  }
  #hero-shop .cs-button-transparent .cs-img {
    display: block;
    margin-right: 0.75rem;
  }
  #hero-shop .cs-button-transparent:before {
    z-index: -1;
    position: absolute;
    /* so it sits on top of the border */
    top: -1px;
    bottom: -1px;
    left: -1px;
    right: -1px;
    content: "";
    opacity: 1;
    /* this is what creates the grow affect on hover */
    transform: scaleX(0);
    display: block;
    background: var(--primary);
    transition: transform 0.3s;
    transform-origin: left;
  }
  #hero-shop .cs-button-transparent:hover:before {
    transform: scaleX(1);
  }
}
/*-- --------------------------------------- -->
<---   Raising Arrows Top Description         -->
<--- ---------------------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #services-1169 {
    background-color: #fff;
    padding: var(--sectionPadding);
  }
  #services-1169 .cs-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    /* changes to 1440px at large desktop */
    max-width: 51.5rem;
    width: 100%;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #services-1169 .cs-content {
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
    width: 100%;
    /* set text align to left if content needs to be left aligned */
    text-align: center;
  }
  #services-1169 .cs-title {
    max-width: 20ch;
  }
  #services-1169 .cs-card-group {
    display: grid;
    align-items: stretch;
    grid-template-columns: repeat(12, 1fr);
    margin: 0;
    width: 100%;
    padding: 0;
    /* 16px - 20px */
    gap: clamp(1rem, 2vw, 1.25rem);
  }
  #services-1169 .cs-item {
    z-index: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #f7f7f7;
    width: 100%;
    list-style: none;
    text-align: left;
    grid-column: span 12;
    max-width: 25rem;
    margin: 0 auto;
  }
  #services-1169 .cs-item:hover .cs-picture img {
    transform: scale(1.2);
  }
  #services-1169 .cs-item:hover .cs-h3,
  #services-1169 .cs-item:hover .cs-link {
    color: var(--primary);
  }
  #services-1169 .cs-item:hover .cs-arrow {
    filter: initial;
  }
  #services-1169 .cs-picture {
    position: relative;
    display: block;
    /* 180px - 240px */
    height: clamp(11.25rem, 24vw, 15rem);
    width: 100%;
    /* clips the image from overflowing parent on hover */
    overflow: hidden;
  }
  #services-1169 .cs-picture img {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: transform 0.65s;
  }
  #services-1169 .cs-info {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
  }
  #services-1169 .cs-h3 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    /* prevents padding and border from affecting height and width */
    box-sizing: border-box;
    /* 20px - 25px */
    font-size: clamp(1.25rem, 2.5vw, 1.5625rem);
    line-height: 1.5em;
    font-weight: 700;
    color: var(--headerColor);
    transition: background-color 0.3s;
    text-align: inherit;
    margin: 0 0 0.75rem 0;
    transition: color 0.3s;
  }
  #services-1169 .cs-item-text {
    width: 100%;
    /* prevents padding and border from affecting height and width */
    box-sizing: border-box;
    font-size: var(--bodyfontsize);
    line-height: 1.5em;
    color: var(--bodyTextColor);
    text-align: inherit;
    margin: 0;
  }
  #services-1169 .cs-link {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
    font-size: 1rem;
    line-height: 1.2em;
    font-weight: 700;
    color: var(--headerColor);
    text-align: inherit;
    margin-top: 1.25rem;
    transition: color 0.3s;
  }
  #services-1169 .cs-link:hover .cs-arrow {
    transform: translateX(0.25rem);
  }
  #services-1169 .cs-arrow {
    filter: grayscale(1) brightness(0);
    display: block;
    height: auto;
    width: 1.25rem;
    transition: filter 0.3s, transform 0.3s;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #services-1169 .cs-container {
    max-width: 59rem;
  }
  #services-1169 .cs-item {
    grid-column: span 4;
    max-width: initial;
  }
}
/* Large Desktop - 1300px */
@media only screen and (min-width: 81.25rem) {
  #services-1169 .cs-container {
    max-width: 90rem;
  }
}
/*-- -------------------------- -->
<---    Raising Arrows 1        -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #sbsr-2231 {
    padding: var(--sectionPadding);
    background-color: #fdfaf8;
    overflow: hidden;
    position: relative;
    z-index: 1;
  }
  #sbsr-2231 .cs-container {
    width: 100%;
    /* changes to 1280px at tablet */
    max-width: 44rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #sbsr-2231 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: center;
    width: 100%;
    max-width: 36.625rem;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
  }
  #sbsr-2231 .cs-title {
    max-width: 30ch;
  }
  #sbsr-2231 .cs-text {
    margin-bottom: 2rem;
  }
  #sbsr-2231 .cs-button-solid {
    font-size: 1rem;
    font-weight: 700;
    /* 46px - 56px */
    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
    text-align: center;
    text-decoration: none;
    min-width: 9.375rem;
    margin: 0;
    padding: 0 1.5rem;
    background-color: var(--primary);
    color: var(--headerColor);
    display: inline-block;
    position: relative;
    z-index: 1;
  }
  #sbsr-2231 .cs-button-solid:before {
    content: "";
    width: 0%;
    height: 100%;
    background: #000;
    opacity: 1;
    border-radius: 0.25rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width 0.3s;
  }
  #sbsr-2231 .cs-button-solid:hover:before {
    width: 100%;
  }
  #sbsr-2231 .cs-image-group {
    /* scales the whole section down and ties the font size to the vw and stops at 75% of the vale of 1em, changes at desktop */
    font-size: min(2.17vw, .8rem);
    /* everything inside this box is in ems so we can scale it all down proportionally with a font size */
    width: 41.875em;
    height: 26.75em;
    position: relative;
    z-index: 1;
    /* prevents flexbox from squishing it */
    flex: none;
    order: -1;
  }
  #sbsr-2231 .cs-picture {
    display: block;
    position: absolute;
  }
  #sbsr-2231 .cs-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
  #sbsr-2231 .cs-picture1 {
    width: 16.5625em;
    height: 20.25em;
    bottom: 1.25em;
    left: 1.25em;
  }
  #sbsr-2231 .cs-picture1::before {
    content: "";
    width: 14.125em;
    height: 63.271605%;
    border: 0.25em solid var(--secondary);
    position: absolute;
    bottom: -1.25em;
    left: -1.25em;
    z-index: -1;
  }
  #sbsr-2231 .cs-picture2 {
    width: 21.5625em;
    height: 25.5em;
    top: 1.25em;
    right: 1.25em;
  }
  #sbsr-2231 .cs-picture2::before {
    content: "";
    width: 12.3125em;
    height: 57.598039%;
    border: 0.25em solid var(--secondary);
    position: absolute;
    top: -1.25em;
    right: -1.25em;
    z-index: -1;
  }
  #sbsr-2231 .cs-flower {
    /* 84px - 309px */
    width: clamp(5.25rem, 22vw, 19.3125rem);
    height: auto;
    display: block;
    position: absolute;
    /* 16px - 114px */
    top: calc(clamp(1rem, 7vw, 7.125rem) * -1);
    /* 32px - 100px */
    right: calc(clamp(2rem, 8vw, 6.25rem) * -1);
    z-index: -1;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #sbsr-2231 .cs-container {
    max-width: 80rem;
  }
  #sbsr-2231 .cs-image-group {
    order: initial;
  }
}
/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #sbsr-2231 .cs-container {
    flex-direction: row;
    align-items: stretch;
  }
  #sbsr-2231 .cs-content {
    text-align: left;
    align-items: flex-start;
    align-self: center;
  }
  #sbsr-2231 .cs-image-group {
    font-size: min(1.3vw, 1rem);
    min-height: 26.75em;
    height: auto;
  }
  #sbsr-2231 .cs-picture1 {
    height: auto;
    top: 3.875em;
    bottom: 2.625em;
  }
  #sbsr-2231 .cs-picture2 {
    height: auto;
    top: 1.25em;
    bottom: 0em;
  }
}
/* Large Desktop - 1400px */
@media only screen and (min-width: 87.5rem) {
  #sbsr-2231 .cs-flower {
    left: -4.375rem;
    right: auto;
    top: -1.875rem;
    transform: rotate(-100deg);
  }
}
/*-- -------------------------- -->
<---      Raising Arrows 2      -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #sbs-2233 {
    padding: var(--sectionPadding);
    background-color: #fbf5f1;
    overflow: hidden;
    position: relative;
    z-index: 1;
  }
  #sbs-2233 .cs-container {
    width: 100%;
    /* changes to 1280px at tablet */
    max-width: 44rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #sbs-2233 .cs-content {
    /* set text align to center if content needs to be centrally aligned */
    text-align: left;
    width: 100%;
    max-width: 36.625rem;
    display: flex;
    flex-direction: column;
    /* aligns content to the left, set to center to centrally align */
    align-items: flex-start;
  }
  #sbs-2233 .cs-text {
    /* 24px - 32px */
    margin-bottom: clamp(1.5rem, 3vw, 2rem);
  }
  #sbs-2233 .cs-options {
    width: 100%;
    margin: 0 0 2rem;
    padding: 0;
    display: flex;
    flex-direction: column;
  }
  #sbs-2233 .cs-option {
    list-style: none;
    padding: 1rem 0;
    border-bottom: 1px solid #e8e8e8;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1.5rem;
    position: relative;
    z-index: 1;
  }
  #sbs-2233 .cs-option:first-of-type {
    padding-top: 0;
  }
  #sbs-2233 .cs-option:last-of-type {
    padding-bottom: 0;
    border: none;
  }
  #sbs-2233 .cs-option-number {
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.2em;
    color: var(--headerColor);
  }
  #sbs-2233 .cs-option-text {
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.2em;
    color: var(--bodyTextColor);
  }
  #sbs-2233 .cs-button-solid {
    font-size: 1rem;
    font-weight: 700;
    /* 46px - 56px */
    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
    text-align: center;
    text-decoration: none;
    min-width: 9.375rem;
    margin: 0;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
    padding: 0 1.5rem;
    background-color: var(--primary);
    color: #fff;
    display: inline-block;
    position: relative;
    z-index: 1;
  }
  #sbs-2233 .cs-button-solid:before {
    content: "";
    width: 0%;
    height: 100%;
    background: #000;
    opacity: 1;
    border-radius: 0.25rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width 0.3s;
  }
  #sbs-2233 .cs-button-solid:hover:before {
    width: 100%;
  }
  #sbs-2233 .cs-image-group {
    /* scales the whole section down and ties the font size to the vw and stops at 75% of the vale of 1em, changes at desktop */
    font-size: min(2.3vw, .916rem);
    /* everything inside this box is in ems so we can scale it all down proportionally with a font size */
    width: 40em;
    height: 40.375em;
    order: -1;
    position: relative;
    /* prevents flexbox from squishing it */
    flex: none;
  }
  #sbs-2233 .cs-picture {
    width: 20em;
    height: 35.5625em;
    overflow: hidden;
    border: 0.25em solid #fff;
    display: block;
    position: absolute;
  }
  #sbs-2233 .cs-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
  #sbs-2233 .cs-picture1 {
    top: 0;
    left: 0;
  }
  #sbs-2233 .cs-picture2 {
    top: 0;
    right: 0;
  }
  #sbs-2233 .cs-caption {
    /* 20px - 31px */
    font-size: clamp(1.25rem, 2vw, 1.9375rem);
    font-weight: 700;
    line-height: 1.2em;
    text-align: center;
    width: 83%;
    max-width: 24.4375rem;
    margin: 0;
    /* 24px - 40px */
    padding: clamp(1.5rem, 3vw, 2.5rem);
    background-color: var(--secondary);
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  #sbs-2233 .cs-stats {
    width: 100%;
    max-width: 80rem;
    /* 48px - 100px */
    margin: clamp(3rem, 7vw, 6.25rem) auto 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    row-gap: 0.5rem;
    position: relative;
  }
  #sbs-2233 .cs-stat {
    /* as the child .cs-number is absolutely positioned, it won't contribute to the size of the box */
    /* we can set the height equal to the font-size which works around this */
    /* 100px - 120px */
    height: clamp(6.25rem, 11vw, 10rem);
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: span 6;
    position: relative;
  }
  #sbs-2233 .cs-stat-number {
    /* 100px - 120px */
    font-size: clamp(6.25rem, 11vw, 10rem);
    font-weight: 900;
    line-height: 1.2em;
    margin: 0;
    color: var(--primary);
    opacity: 0.2;
    display: block;
  }
  #sbs-2233 .cs-stat-text {
    font-size: 1.25rem;
    font-weight: bold;
    line-height: 1.2em;
    margin: 0;
    color: var(--bodyTextColor);
    display: block;
    position: absolute;
    z-index: 2;
  }
  #sbs-2233 .cs-flower {
    width: 19.3125rem;
    height: auto;
    margin-right: -60.125rem;
    display: none;
    position: absolute;
    right: 50%;
    bottom: 0;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #sbs-2233 .cs-container {
    max-width: 80rem;
    flex-direction: row;
    align-items: stretch;
  }
  #sbs-2233 .cs-content {
    /* 48px - 100px */
    padding: clamp(3rem, 7vw, 6.25rem) 0;
  }
  #sbs-2233 .cs-image-group {
    font-size: min(1vw, 1rem);
    height: auto;
    min-height: 40.3125em;
  }
  #sbs-2233 .cs-picture {
    height: auto;
    top: 0;
    bottom: 4.8125em;
  }
  #sbs-2233 .cs-stats {
    /* 24px - 64px */
    column-gap: clamp(1.5rem, 9vw, 4rem);
  }
  #sbs-2233 .cs-stat {
    grid-column: span 3;
  }
}
/* Large Desktop - 1400px */
@media only screen and (min-width: 87.5rem) {
  #sbs-2233 .cs-flower {
    display: block;
  }
}
/*-- -------------------------- -->
<---   Raising Arrows 3         -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #sbsr-2232 {
    padding: var(--sectionPadding);
    background-color: #fdfaf8;
    overflow: hidden;
    position: relative;
    z-index: 1;
  }
  #sbsr-2232 .cs-container {
    width: 100%;
    /* changes to 1280px on desktop */
    max-width: 36.5rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #sbsr-2232 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
  }
  #sbsr-2232 .cs-topper {
    color: var(--primary);
  }
  #sbsr-2232 .cs-title {
    max-width: 30ch;
  }
  #sbsr-2232 .cs-text {
    margin-bottom: 2rem;
  }
  #sbsr-2232 .cs-card-group {
    width: 100%;
    margin: 0 0 2rem;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    /* 20px - 24px */
    gap: clamp(1.25rem, 1.7vw, 1.5rem);
  }
  #sbsr-2232 .cs-item {
    text-align: center;
    list-style: none;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-column: span 12;
    gap: 1.5rem;
    transition: background-color 0.3s;
  }
  #sbsr-2232 .cs-icon-wrapper {
    width: 3.9375rem;
    height: 3.9375rem;
    border: 1px solid #bababa;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #sbsr-2232 .cs-icon {
    width: 2rem;
    height: auto;
    margin: 0;
    display: block;
  }
  #sbsr-2232 .cs-flex {
    flex: 1 1 0;
  }
  #sbsr-2232 .cs-h3 {
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.2em;
    text-align: inherit;
    margin: 0 0 0.75rem;
    color: var(--headerColor);
    transition: color 0.3s;
  }
  #sbsr-2232 .cs-item-text {
    font-size: 1rem;
    line-height: 1.5em;
    text-align: inherit;
    width: 100%;
    margin: auto 0 0 0;
    color: var(--bodyTextColor);
    transition: color 0.3s;
  }
  #sbsr-2232 .cs-button-solid {
    font-size: 1rem;
    font-weight: 700;
    /* 46px - 56px */
    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
    text-align: center;
    text-decoration: none;
    min-width: 9.375rem;
    margin: 0;
    padding: 0 1.5rem;
    background-color: var(--primary);
    color: var(--headerColor);
    display: inline-block;
    position: relative;
    z-index: 1;
  }
  #sbsr-2232 .cs-button-solid:before {
    content: "";
    width: 0%;
    height: 100%;
    background: #000;
    opacity: 1;
    border-radius: 0.25rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width 0.3s;
  }
  #sbsr-2232 .cs-button-solid:hover:before {
    width: 100%;
  }
  #sbsr-2232 .cs-image-group {
    /* scales the whole section down and ties the font size to the vw and stops at 75% of the vale of 1em, changes at desktop */
    font-size: min(2.8vw, .89rem);
    /* everything inside this box is in ems so we can scale it all down proportionally with a font size */
    width: 32.625em;
    height: 38.1875em;
    position: relative;
    /* prevents flexbox from squishing it */
    flex: none;
    order: -1;
  }
  #sbsr-2232 .cs-image-group::before {
    content: "";
    width: 17.5625em;
    height: 21em;
    border: 0.25em solid var(--secondary);
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
  }
  #sbsr-2232 .cs-picture {
    width: 30.8125em;
    height: 36.4375em;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
  }
  #sbsr-2232 .cs-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
  #sbsr-2232 .cs-flower {
    /* 183px - 309px */
    width: clamp(11.4375rem, 28vw, 19.3125rem);
    height: auto;
    display: block;
    position: absolute;
    right: -3.75rem;
    /* 55px - 109px */
    bottom: calc(clamp(3.4375rem, 6vw, 4.8125rem) * -1);
    z-index: 1;
    transform: rotate(95deg);
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 600px) {
  #sbsr-2232 .cs-content {
    text-align: left;
    align-items: flex-start;
  }
  #sbsr-2232 .cs-item {
    text-align: left;
    align-items: flex-start;
    grid-column: span 6;
  }
}
/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #sbsr-2232 .cs-container {
    max-width: 80rem;
    flex-direction: row;
    align-items: stretch;
  }
  #sbsr-2232 .cs-content {
    text-align: left;
    align-items: flex-start;
    align-self: center;
  }
  #sbsr-2232 .cs-image-group {
    font-size: min(1.3vw, 1rem);
    height: auto;
    min-height: 38.25em;
    order: initial;
  }
  #sbsr-2232 .cs-picture {
    height: auto;
    top: 0;
    bottom: 1.75em;
  }
}
/* Large Desktop - 1400px */
@media only screen and (min-width: 87.5rem) {
  #sbsr-2232 .cs-item {
    flex-direction: row;
  }
}
/*-- -------------------------- -->
<---    Raising Arrows 4        -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #sbsr-2272 {
    padding: var(--sectionPadding);
    background-color: #fdfaf8;
    overflow: hidden;
    position: relative;
    z-index: 1;
  }
  #sbsr-2272 .cs-container {
    width: 100%;
    /* changes to 1280px at tablet */
    max-width: 44rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #sbsr-2272 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: center;
    width: 100%;
    max-width: 36.625rem;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
  }
  #sbsr-2272 .cs-title {
    max-width: 30ch;
  }
  #sbsr-2272 .cs-text {
    margin-bottom: 2rem;
  }
  #sbsr-2272 .cs-button-solid {
    font-size: 1rem;
    font-weight: 700;
    /* 46px - 56px */
    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
    text-align: center;
    text-decoration: none;
    min-width: 9.375rem;
    margin: 0;
    padding: 0 1.5rem;
    background-color: var(--primary);
    color: var(--headerColor);
    display: inline-block;
    position: relative;
    z-index: 1;
  }
  #sbsr-2272 .cs-button-solid:before {
    content: "";
    width: 0%;
    height: 100%;
    background: #000;
    opacity: 1;
    border-radius: 0.25rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width 0.3s;
  }
  #sbsr-2272 .cs-button-solid:hover:before {
    width: 100%;
  }
  #sbsr-2272 .cs-image-group {
    /* scales the whole section down and ties the font size to the vw and stops at 75% of the vale of 1em, changes at desktop */
    font-size: min(2.17vw, .8rem);
    /* everything inside this box is in ems so we can scale it all down proportionally with a font size */
    width: 41.875em;
    height: 26.75em;
    order: -1;
    position: relative;
    z-index: 1;
    /* prevents flexbox from squishing it */
    flex: none;
  }
  #sbsr-2272 .cs-picture {
    display: block;
    position: absolute;
  }
  #sbsr-2272 .cs-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
  #sbsr-2272 .cs-picture1 {
    width: 16.5625em;
    height: 20.25em;
    bottom: 1.25em;
    left: 1.25em;
  }
  #sbsr-2272 .cs-picture1::before {
    content: "";
    width: 14.125em;
    height: 63.271605%;
    border: 0.25em solid var(--secondary);
    position: absolute;
    bottom: -1.25em;
    left: -1.25em;
    z-index: -1;
  }
  #sbsr-2272 .cs-picture2 {
    width: 21.5625em;
    height: 25.5em;
    top: 1.25em;
    right: 1.25em;
  }
  #sbsr-2272 .cs-picture2::before {
    content: "";
    width: 12.3125em;
    height: 57.598039%;
    border: 0.25em solid var(--secondary);
    position: absolute;
    top: -1.25em;
    right: -1.25em;
    z-index: -1;
  }
  #sbsr-2272 .cs-flower {
    /* 84px - 309px */
    width: clamp(5.25rem, 22vw, 19.3125rem);
    height: auto;
    display: block;
    position: absolute;
    /* 14px - 53px */
    right: calc(clamp(0.875rem, 4vw, 3.3125rem) * -1);
    /* 40px - 109px */
    bottom: calc(clamp(2.5rem, 9vw, 6.8125rem) * -1);
    z-index: -1;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #sbsr-2272 .cs-container {
    max-width: 80rem;
  }
  #sbsr-2272 .cs-image-group {
    order: initial;
  }
}
/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #sbsr-2272 .cs-container {
    flex-direction: row;
    align-items: stretch;
  }
  #sbsr-2272 .cs-content {
    text-align: left;
    align-items: flex-start;
    align-self: center;
  }
  #sbsr-2272 .cs-image-group {
    font-size: min(1.3vw, 1rem);
    height: auto;
    min-height: 26.75em;
  }
  #sbsr-2272 .cs-picture1 {
    height: auto;
    top: 3.875em;
    bottom: 2.625em;
  }
  #sbsr-2272 .cs-picture2 {
    height: auto;
    top: 1.25em;
    bottom: 0em;
  }
}
/* Large Desktop - 1400px */
@media only screen and (min-width: 87.5rem) {
  #sbsr-2272 .cs-flower {
    margin-right: -47.1875rem;
    right: 50%;
  }
}
/*-- -------------------------- -->
<---      Raising Arrows CTA    -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #cta-697 {
    padding: var(--sectionPadding);
    background-color: var(--primary);
    position: relative;
    z-index: 1;
  }
  #cta-697 .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #cta-697 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #cta-697 .cs-title {
    color: var(--bodyTextColorWhite);
  }
  #cta-697 .cs-button-solid {
    font-size: 1rem;
    /* 46px - 56px */
    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    margin: 0;
    color: var(--bodyTextColorWhite);
    min-width: 9.375rem;
    padding: 0 1.5rem;
    background-color: var(--secondary);
    border-radius: 0.25rem;
    display: inline-block;
    position: relative;
    z-index: 1;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
  }
  #cta-697 .cs-button-solid:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 0%;
    background: #000;
    opacity: 1;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 0.25rem;
    transition: width 0.3s;
  }
  #cta-697 .cs-button-solid:hover:before {
    width: 100%;
  }
  #cta-697 .cs-background {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    /* makes it act like a background image */
    object-fit: cover;
  }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #cta-697 .cs-content {
    text-align: left;
    flex-direction: row;
    justify-content: space-between;
  }
}
