---
pagination:
  data: Artcollections.collections
  size: 1
  alias: collection
  addAllPagesToCollections: true
permalink: "Artcollections/{{ collection.title | slugify }}/"
---



{% extends "layouts/base.html" %}
{% block head %}
<link rel="stylesheet" href="/assets/css/shop.css">


<style>
/* Large Desktop - 1600px - Prallax Effect */
@media only screen and (min-width: 100rem) {
    #hero-shop {
        .cs-background {
            {% if collection.background %}
            background: url("{{ collection.background }}");
            {% else %}
            background: url("/assets/images/shop/bg_brown.jpg");
            {% endif %}
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            background-attachment: fixed;
            img {
                display: none;
            }
        }
        
    }
}


</style>


{% endblock %}


{% block body %}

<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero-shop">
  <div class="cs-container">
      <div class="cs-content">
          <span class="cs-topper"></span>
          <!-- <h1 class="cs-title" style="font-family: 'Trirong';font-weight: 300;">Mended At The<br> Cross Collection</h1> -->
          <h1 class="cs-title" style="font-family: 'Trirong';font-weight: 300;">{{ collection.title }}</h1>
          
          <p class="cs-text">
               
          </p>
          <!-- <a href="https://payhip.com/BritAlbinArt" class="cs-button-solid">My Store</a> -->
      </div>
  </div>

  <!--SVG V Graphic-->
  <!-- <img class="cs-graphic" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/centered-v.svg" alt="graphic" width="1920" height="163" aria-hidden="true"> -->

  <!-- Background Image, also BG Image is set in CSS at 1600px wide for parallax effect -->
  {% if collection.background %}
  <picture class="cs-background">
      <source media="(max-width: 600px)" srcset="{{ collection.background }}">
      <source media="(min-width: 601px)" srcset="{{ collection.background }}">
      <img decoding="async" src="{{ collection.background }}" alt="garage" width="2250" height="1500" aria-hidden="true">
  </picture>
  {% else %}
  <picture class="cs-background">
      <source media="(max-width: 600px)" srcset="/assets/images/shop/bg_brown.jpg">
      <source media="(min-width: 601px)" srcset="/assets/images/shop/bg_brown.jpg">
      <img decoding="async" src="/assets/images/shop/bg_brown.jpg" alt="garage" width="2250" height="1500" aria-hidden="true">
  </picture>
  {% endif %}
</section>



{% if collection.title == 'Raising Arrows ' %}

<!-- Raising Arrows Special-->



<!-- ============================================ -->
<!--             Top Description                  -->
<!-- ============================================ -->

<section id="services-1169">
  <div class="cs-container">
    <div class="cs-content">
      <span class="cs-topper"></span>
      <h2 class="cs-title"></h2>
      <p class="cs-text" style="text-align: left;">
          “Children are a heritage from the Lord. Like Arrow in the hands of a warrior are the children of one's youth. Blessed is the man who fills his quiver with them." 𝘗𝘴𝘢𝘭𝘮 127:3-5

      </p>
    </div>
  </div>
</section>
                              



<!-- ============================================ -->
<!--             Side By Side Reverse             -->
<!-- ============================================ -->

<section id="sbsr-2231">
<div class="cs-container">
    <div class="cs-content">
        <span class="cs-topper">Raising Arrows</span>
        <h2 class="cs-title" style="font-family: 'Trirong';font-weight: 300;">Demario and Tamela Davis Arrows & review</h2> <p class="cs-text">
          “I absolutely LOVE our Arrow painting!!! I surprised my husband and several friends loved ours so much when they saw it that they commissioned her to paint one for them too. My heart is FULL!”

          - Tamela Davis
        </p>
        
    </div>
    <div class="cs-image-group">
        <!--Main Image-->
        <picture class="cs-picture cs-picture1">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="https://ik.imagekit.io/6ycdefzj5/arrow1.jpeg?updatedAt=1744400401187">
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)" srcset="https://ik.imagekit.io/6ycdefzj5/arrow1.jpeg?updatedAt=1744400401187">
            <img loading="lazy" decoding="async" src="https://ik.imagekit.io/6ycdefzj5/arrow1.jpeg?updatedAt=1744400401187" alt="wedding" width="272" height="337">
        </picture>
        <!--Small Image-->
        <picture class="cs-picture cs-picture2">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="https://ik.imagekit.io/6ycdefzj5/arrow2.jpeg?updatedAt=1744400418734">
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)" srcset="https://ik.imagekit.io/6ycdefzj5/arrow2.jpeg?updatedAt=1744400418734">
            <img loading="lazy" decoding="async" src="https://ik.imagekit.io/6ycdefzj5/arrow2.jpeg?updatedAt=1744400418734" alt="wedding" width="243" height="367">
        </picture>
    </div>
</div>

</section>



<!-- ============================================ -->
<!--                Side By Side                  -->
<!-- ============================================ -->

<section id="sbs-2233">
<div class="cs-container">
    <div class="cs-content">
        <span class="cs-topper">Raising Arrows</span>
        <h2 class="cs-title" style="font-family: 'Trirong';font-weight: 300;">Drew Brees Arrows & Review</h2>
        <p class="cs-text">
          “We chose to include a Center arrow pointed up toward heaven as a reminder to keep God first. We love our painting so much!!!” - Brittany and Drew Brees
        </p>
        
        
    </div>
    <div class="cs-image-group">
        <!--Main Image-->
        <picture class="cs-picture cs-picture1">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="https://ik.imagekit.io/6ycdefzj5/arrow3.jpg?updatedAt=1744401133090">
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)" srcset="https://ik.imagekit.io/6ycdefzj5/arrow3.jpg?updatedAt=1744401133090">
            <img loading="lazy" decoding="async" src="https://ik.imagekit.io/6ycdefzj5/arrow3.jpg?updatedAt=1744401133090" alt="wedding" width="272" height="337">
        </picture>
        <!--Small Image-->
        <picture class="cs-picture cs-picture2">
          <script src="https://fast.wistia.com/player.js" async></script><script src="https://fast.wistia.com/embed/2jjs2nqzmr.js" async type="module"></script><style>wistia-player[media-id='2jjs2nqzmr']:not(:defined) { background: center / contain no-repeat url('https://fast.wistia.com/embed/medias/2jjs2nqzmr/swatch'); display: block; filter: blur(5px); padding-top:177.78%; }</style> <wistia-player media-id="2jjs2nqzmr" aspect="0.5625"></wistia-player>
            <!--Mobile Image-->
            <!-- <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/wedding18.jpg"> -->
            <!-- Tablet and above Image -->
            <!-- <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/wedding18.jpg"> -->
            <!-- <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/wedding18.jpg" alt="wedding" width="243" height="367"> -->
        </picture>
        
    </div>
</div>

</section>


<!-- ============================================ -->
<!--             Side By Side Reverse             -->
<!-- ============================================ -->

<section id="sbsr-2232">
<div class="cs-container">
    <div class="cs-content">
        <span class="cs-topper">Raising Arrows</span>
        <h2 class="cs-title" style="font-family: 'Trirong';font-weight: 300;">Collins Family Arrows & review</h2>
        <p class="cs-text">
          “Brit painted a beautiful arrows piece for our family—a reminder of God’s goodness in every child He’s given us. With 11 children and 3 in heaven, this painting captured the beauty of our calling as parents and reflects our heart to raise our arrows for Christ.”

          — Karissa Collins 
        </p>
        
        
    </div>
    <div class="cs-image-group">
        <picture class="cs-picture">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="https://ik.imagekit.io/6ycdefzj5/arrow4.jpeg?updatedAt=1744402077889">
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)" srcset="https://ik.imagekit.io/6ycdefzj5/arrow4.jpeg?updatedAt=1744402077889">
            <img loading="lazy" decoding="async" src="https://ik.imagekit.io/6ycdefzj5/arrow4.jpeg?updatedAt=1744402077889" alt="wedding" width="243" height="367">
        </picture>
    </div>
</div>

</section>



<!-- ============================================ -->
<!--             Side By Side Reverse             -->
<!-- ============================================ -->

<section id="sbsr-2272">
<div class="cs-container">
    <div class="cs-image-group">
        <!--Main Image-->
        <picture class="cs-picture cs-picture1">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="https://ik.imagekit.io/6ycdefzj5/arrow6.jpeg?updatedAt=1744402352183">
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)" srcset="https://ik.imagekit.io/6ycdefzj5/arrow6.jpeg?updatedAt=1744402352183">
            <img loading="lazy" decoding="async" src="https://ik.imagekit.io/6ycdefzj5/arrow6.jpeg?updatedAt=1744402352183" alt="wedding" width="272" height="337">
        </picture>
        <!--Small Image-->
        <picture class="cs-picture cs-picture2">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="https://ik.imagekit.io/6ycdefzj5/arrow5.jpeg?updatedAt=1744402329360">
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)" srcset="https://ik.imagekit.io/6ycdefzj5/arrow5.jpeg?updatedAt=1744402329360">
            <img loading="lazy" decoding="async" src="https://ik.imagekit.io/6ycdefzj5/arrow5.jpeg?updatedAt=1744402329360" alt="wedding" width="243" height="367">
        </picture>
    </div>
    <div class="cs-content">
        <span class="cs-topper">Raising Arrows</span>
        <h2 class="cs-title" style="font-family: 'Trirong';font-weight: 300;">Trahan Family Arrows & review
        </h2>
        <p class="cs-text">
          “Our children are truly the greatest gifts from God, and this beautiful painting perfectly captures that. It now hangs in our living room as a meaningful conversation piece. Every time we look at it, we’re reminded of the countless blessings God has given us in raising another child of God. To God be the glory!”

          - Becca Trahan 
        </p>
        </p>
        
    </div>
</div>

</section>



<!-- ============================================ -->
<!--                     CTA                      -->
<!-- ============================================ -->

<section id="cta-697">
<div class="cs-container">
    <div class="cs-content">
        <h2 class="cs-title">Click the button below to get started on your custom Family Legacy Painting!</h2>
        <a href="" class="cs-button-solid">CONTACT</a>
    </div>
</div>
<!--SVG Waves Background-->
<img class="cs-background" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FGraphics%2Fwaves-3.svg" alt="wave graphic" width="1920" height="318" loading="lazy" decoding="async" aria-hidden="true">
</section>
                            
{% elseif collection.title == 'Mended Series' %}


<!-- ============================================ -->
<!--             Top Description                  -->
<!-- ============================================ -->

<section id="services-1169">
  <div class="cs-container">
    <div class="cs-content">
      <span class="cs-topper"></span>
      <h2 class="cs-title" style="font-family: 'Trirong';font-weight: 300;">This series is based on the Japanese philosophy of Kintsugi</h2>
      <p class="cs-text" style="text-align: left;">
        The art of mending something broken with gold. They say that because something has been broken, It has a story, and that story makes it beautiful.
      </p>
    </div>
  </div>
</section>



<!-- ============================================ -->
<!--             Side By Side Reverse             -->
<!-- ============================================ -->

<section id="sbsr-2169">
  <div class="cs-container">
      <div class="cs-content">
          <span class="cs-topper"></span>
          <h2 class="cs-title">Job 23:10</h2>
          <p class="cs-text">
            Our faith is often tried in seasons of brokenness but
            God says through sufficient trial, we will come forth as precious and as pure as gold. Refinement is necessary.
          </p>
          <picture class="cs-picture cs-picture1">
              <!--Mobile Image-->
              <source media="(max-width: 600px)" srcset="https://ik.imagekit.io/6ycdefzj5/mendedbrit2.jpeg?updatedAt=1744647425928">
              <!--Tablet and above Image-->
              <source media="(min-width: 601px)" srcset="https://ik.imagekit.io/6ycdefzj5/mendedbrit2.jpeg?updatedAt=1744647425928">
              <img loading="lazy" decoding="async" src="https://ik.imagekit.io/6ycdefzj5/mendedbrit2.jpeg?updatedAt=1744647425928" alt="people" width="630" height="400">
          </picture>
      </div>
      <div class="cs-image-group">
          <picture class="cs-picture cs-picture2">
              <!--Mobile Image-->
              <source media="(max-width: 600px)" srcset="https://ik.imagekit.io/6ycdefzj5/mendedbrit1.PNG?updatedAt=1744658658645">
              <!--Tablet and above Image-->
              <source media="(min-width: 601px)" srcset="https://ik.imagekit.io/6ycdefzj5/mendedbrit1.PNG?updatedAt=1744658658645">
              <img loading="lazy" decoding="async" src="https://ik.imagekit.io/6ycdefzj5/mendedbrit1.PNG?updatedAt=1744658658645" alt="people" width="420" height="619">
         
      </div>
  </div>
  <picture class="cs-background">
      <!--Mobile Image-->
      <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Landscapes/stone-texture.jpg">
      <!--Tablet and above Image-->
      <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Landscapes/stone-texture.jpg">
      <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Landscapes/stone-texture.jpg" alt="stone texture" width="630" height="400">
  </picture>
</section>


<!-- ============================================ -->
<!--                 Side By Side                 -->
<!-- ============================================ -->

<section id="sbs-1373">
  <div class="cs-container">
      <div class="cs-content">
          <span class="cs-topper"></span>
          <h2 class="cs-title"></h2>
          <p class="cs-text">
            Each Mended painting is customized in color scheme and size making the perfect meaningful statement piece to fit your space or serve as a gift of encouragement for your friends or family. A heartfelt summary is added to the back of each piece, thoughtfully writeen with your story (or theirs) in mind.
          </p>
         
          <a href="" class="cs-button-solid"></a>
      </div>
      <div class="cs-flex">
          <picture class="cs-picture">
              <!--Mobile Image-->
              <source media="(max-width: 600px)" srcset="https://ik.imagekit.io/6ycdefzj5/mendedbrit3.jpeg?updatedAt=1744650826332">
              <!--Tablet and above Image-->
              <source media="(min-width: 601px)" srcset="https://ik.imagekit.io/6ycdefzj5/mendedbrit3.jpeg?updatedAt=1744650826332">
              <img loading="lazy" decoding="async" src="https://ik.imagekit.io/6ycdefzj5/mendedbrit3.jpeg?updatedAt=1744650826332" alt="person in cafe" width="414" height="627">
          </picture>
          <div class="cs-review">
              <img class="cs-icon" loading="lazy" decoding="async" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/oeange-quotes.svg" alt="appliance" width="120" height="99">
              <p class="cs-review-text">
                Without brokenness there is no need for grace. Without grace there is only brokenness. -Brit Albin Art
              </p>
          </div>
      </div>
  </div>
</section>


<!-- ============================================ -->
<!--             Side By Side Reverse             -->
<!-- ============================================ -->

<section id="sbsr-579">
  <div class="cs-container">
      <picture class="cs-picture">
          <!--Mobile Image-->
          <source media="(max-width: 600px)" srcset="https://ik.imagekit.io/6ycdefzj5/mendedbrit4.jpeg?updatedAt=1744651278516">
          <!--Tablet and above Image-->
          <source media="(min-width: 601px)" srcset="https://ik.imagekit.io/6ycdefzj5/mendedbrit4.jpeg?updatedAt=1744651278516">
          <img loading="lazy" decoding="async" src="https://ik.imagekit.io/6ycdefzj5/mendedbrit4.jpeg?updatedAt=1744651278516" alt="room" width="494" height="700">
      </picture>
      <div class="cs-content">
          <span class="cs-topper"></span>
          <h2 class="cs-title"></h2>
          <p class="cs-text">
            "People are broken who live in the mending and God's grace is the glue." Eugene O'Neill
          </p>
          <p class="cs-text">
              
          </p>
          <a href="" class="cs-button-solid"></a>
      </div>
  </div>
</section>


<!-- ============================================ -->
<!--                Side By Side                  -->
<!-- ============================================ -->

<section id="sbs-2168">
  <div class="cs-container">
      <div class="cs-content">
          <span class="cs-topper"></span>
          <h2 class="cs-title">Random Filler</h2>
          <p class="cs-text">
              Our expert instructors give you the skills and knowledge to manage process risks and show you how to continuously make your facilities and operations more safe and reliable. PSRG training courses are available online. We have courses on-demand and live instructors for workshops and support.
          </p>
          <picture class="cs-picture cs-picture1">
              <!--Mobile Image-->
              <source media="(max-width: 600px)" srcset="https://ik.imagekit.io/6ycdefzj5/mendedbrit5.jpeg?updatedAt=1744651739166">
              <!--Tablet and above Image-->
              <source media="(min-width: 601px)" srcset="https://ik.imagekit.io/6ycdefzj5/mendedbrit5.jpeg?updatedAt=1744651739166">
              <img loading="lazy" decoding="async" src="https://ik.imagekit.io/6ycdefzj5/mendedbrit5.jpeg?updatedAt=1744651739166" alt="people" width="630" height="400">
          </picture>
      </div>
      <div class="cs-image-group">
          <picture class="cs-picture cs-picture2">
              <!--Mobile Image-->
              <source media="(max-width: 600px)" srcset="https://ik.imagekit.io/6ycdefzj5/mendedbritart.png?updatedAt=1744653294831">
              <!--Tablet and above Image-->
              <source media="(min-width: 601px)" srcset="https://ik.imagekit.io/6ycdefzj5/mendedbritart.png?updatedAt=1744653294831">
              <img loading="lazy" decoding="async" src="https://ik.imagekit.io/6ycdefzj5/mendedbritart.png?updatedAt=1744653294831" alt="people" width="420" height="619">
          </picture>
         
      </div>
  </div>
  <picture class="cs-background">
      <!--Mobile Image-->
      <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Landscapes/stone-texture.jpg">
      <!--Tablet and above Image-->
      <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Landscapes/stone-texture.jpg">
      <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Landscapes/stone-texture.jpg" alt="stone texture" width="630" height="400">
  </picture>
</section>

<!-- ============================================ -->
<!--                     CTA                      -->
<!-- ============================================ -->

<section id="cta-697">
  <div class="cs-container">
      <div class="cs-content">
          <h2 class="cs-title">Ready to order your custom Mended painting? Click below to get started!</h2>
          <a href="" class="cs-button-solid">CONTACT</a>
      </div>
  </div>
  <!--SVG Waves Background-->
  <img class="cs-background" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FGraphics%2Fwaves-3.svg" alt="wave graphic" width="1920" height="318" loading="lazy" decoding="async" aria-hidden="true">
  </section>
  <!-- ============================================ -->
<!--              Final Quote                       -->
<!-- ============================================== -->

<section id="services-1169">
  <div class="cs-container">
    <div class="cs-content">
      <span class="cs-topper"></span></h2>
      <p class="cs-text" style="text-align: left;">
        "People are broken who live in the mending and God's grace is the Glue" - Eugene O'Neill
      </p>
    </div>
  </div>
</section>
                              
                                                
                              
                              
                              



{% if collection.description_title and collection.description %}
<section id="sbs">
  <div class="cs-container">
      <div class="cs-right" style="display: flex;flex-direction: column;align-items: center; padding: 3em;">
          <h2 class="cs-title" style="font-family: 'Trirong';font-weight: 300;">{{ collection.description_title }}</h2>
          <p class="cs-text" style="text-align: left;">
            {{ collection.description  | markdownblock | safe}}
          </p>
          <p class="cs-text">
              
          </p>
      </div>
  </div>
</section>
{% endif %}
<!-- ============================================ -->
<!--                 Collection                   -->
<!-- ============================================ -->

<section id="collection-1624">
  <div class="cs-container">
      <div class="cs-content">
          <h2 class="cs-title" style="font-family: 'Trirong';font-weight: 300;"><a href="https://payhip.com/BritAlbinArt" class="cs-button-solid">My Store</a></h2>
          
          <!-- <a href="" class="cs-button-solid">View All Collection</a> -->
      </div>
      <div class="cs-collection-wrapper">
          <ul class="cs-card-group">
            {% for painting in collection.paintings  %}
              <li class="cs-item">
                  <a href="{{ painting.url }}" class="cs-link">
                      <div class="cs-image-group">
                          <picture class="cs-picture">
                              <!--Mobile Image-->
                              <source media="(max-width: 600px)" srcset="{{ painting.feature_image }}">
                              <!--Tablet and above Image-->
                              <source media="(min-width: 601px)" srcset="{{ painting.feature_image }}">
                              <img loading="lazy" decoding="async" src="{{ painting.feature_image }}" alt="painting" width="1280" height="1280">
                          </picture>
                          <!-- <span class="cs-offer"></span> -->
                      </div>
                      <div class="cs-details">
                          <h3 class="cs-product">{{ painting.title }}</h3>
                          <div class="cs-wrapper">
                              <div class="cs-flex">
                                  <span class="cs-price">{% if painting.price %}{{ painting.price | money }}{% else %} contact{% endif %}</span>
                                  <!-- <span class="cs-old-price">$45.00</span> -->
                              </div>
                          </div>
                      </div>
                  </a>
              </li>
              {% endfor %}
          </ul>
      </div>
  </div>
</section>
<div style="display: flex;flex-direction: column;align-items: center;">

  <a href="/contact" class="cs-button-solid" style="color: white;">Contact For Custom Sizes</a>
</div>

<div class="custom-shape-divider-bottom-1743381112">
  <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
      <path d="M892.25 114.72L0 0 0 120 1200 120 1200 0 892.25 114.72z" class="shape-fill"></path>
  </svg>
</div>

<style>
  .custom-shape-divider-bottom-1743381112 {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1743381112 svg {
  position: relative;
  display: block;
  width: calc(297% + 1.3px);
  height: 92px;
  transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1743381112 .shape-fill {
  fill: #FBF5F1;
}
</style>


{% elseif collection.title == 'Freedom Collection' %}


<!-- ============================================ -->
<!--             Top Description                  -->
<!-- ============================================ -->

<section id="services-1169">
  <div class="cs-container">
    <div class="cs-content">
      <span class="cs-topper"></span>
      <h2 class="cs-title" style="font-family: 'Trirong';font-weight: 300;">The Freedom Collection features hand-sculpted wings on canvas</h2>
      <p class="cs-text" style="text-align: left;">
        each one uniquely painted and designed with your choice of color, layout, and Scripture. These pieces serve as a quiet reminder that God covers, carries, and draws near. Whether created in memory of someone or as a personal reminder of His presence, each painting is a reminder of the hope we have to know we are never alone. 
      </p>
    </div>
  </div>
</section>

<!-- ============================================ -->
<!--                Side By Side                  -->
<!-- ============================================ -->

<section id="sbs-2171">
  <div class="cs-container">
      <picture class="cs-picture">
          <!--Mobile Image-->
          <source media="(max-width: 600px)" srcset="https://ik.imagekit.io/6ycdefzj5/freedombrit1.png?updatedAt=1744659932983">
          <!--Tablet and above Image-->
          <source media="(min-width: 601px)" srcset="https://ik.imagekit.io/6ycdefzj5/freedombrit1.png?updatedAt=1744659932983">
          <img loading="lazy" decoding="async" src="https://ik.imagekit.io/6ycdefzj5/freedombrit1.png?updatedAt=1744659932983" alt="room" width="960" height="796">
      </picture>
      <div class="cs-content">
          <span class="cs-topper">The Freedom Collection </span>
          <h2 class="cs-title"></h2>
          <ul class="cs-ul">
              <li class="cs-li">
                  <h3 class="cs-h3" >Psalm 91:4</h3>
                  <p class="cs-li-text">
                    “He will cover you with his feathers. He will shelter you with his wings. His faithful promises are your armor and your protection.”
                  </p>
                  
              </li>
              <li class="cs-li">
                  <h3 class="cs-h3">Isaiah 40:31</h3>
                  <p class="cs-li-text">
                    “Those Who trust in the Lord will find new strength. They will so high on wings like eagles. They will run and not grow weary. They will walk and not faint.”
                  
              </li>
          </ul>
          <a href="" class="cs-button-solid"></a>
      </div>
  </div>
  
</section>




  <!-- ============================================ -->
<!--                   Gallery                    -->
<!-- ============================================ -->

<section id="gallery-2243">
  <div class="cs-container">
      <div class="cs-content">
          <span class="cs-topper"></span>
          <h2 class="cs-title">THE FREEDOM COLLECTION</h2>
          <p class="cs-text">
              
          </p>
      </div>
      <div class="cs-gallery">
          <picture class="cs-picture cs-picture1">
              <source media="(max-width: 600px)" srcset="https://ik.imagekit.io/6ycdefzj5/freedombrit4.png?updatedAt=1744661740638">
              <source media="(min-width: 601px)" srcset="https://ik.imagekit.io/6ycdefzj5/freedombrit4.png?updatedAt=1744661740638">
              <img loading="lazy" decoding="async" src="https://ik.imagekit.io/6ycdefzj5/freedombrit4.png?updatedAt=1744661740638" alt="formerly dress you people outside" width="380" height="271">
          </picture>
          <picture class="cs-picture cs-picture2">
              <source media="(max-width: 600px)" srcset="https://ik.imagekit.io/6ycdefzj5/freedombrit2.jpeg?updatedAt=1744661264743">
              <source media="(min-width: 601px)" srcset="https://ik.imagekit.io/6ycdefzj5/freedombrit2.jpeg?updatedAt=1744661264743">
              <img loading="lazy" decoding="async" src="https://ik.imagekit.io/6ycdefzj5/freedombrit2.jpeg?updatedAt=1744661264743" alt="formerly dress you people outside" width="380" height="271">
          </picture>
          <picture class="cs-picture cs-picture3">
            <script src="https://ik.imagekit.io/6ycdefzj5/freedomvideo.mp4?updatedAt=1744661137967" async></script><script src="https://ik.imagekit.io/6ycdefzj5/freedomvideo.mp4?updatedAt=1744661137967" async type="module"></script><style>wistia-player[media-id='2jjs2nqzmr']:not(:defined) { background: center / contain no-repeat url('https://ik.imagekit.io/6ycdefzj5/freedomvideo.mp4?updatedAt=1744661137967'); display: block; filter: blur(0px); padding-top:177.78%; }</style> <wistia-player media-id="2jjs2nqzmr" aspect="0.5625"></wistia-player>
          </picture>
          <picture class="cs-picture cs-picture4">
              <source media="(max-width: 600px)" srcset="https://ik.imagekit.io/6ycdefzj5/freedombrit3IMG_9837.jpeg?updatedAt=1744661649879">
              <source media="(min-width: 601px)" srcset="https://ik.imagekit.io/6ycdefzj5/freedombrit3IMG_9837.jpeg?updatedAt=1744661649879">
              <img loading="lazy" decoding="async" src="https://ik.imagekit.io/6ycdefzj5/freedombrit3IMG_9837.jpeg?updatedAt=1744661649879" alt="formerly dress you people outside" width="380" height="271">
          </picture>
          <picture class="cs-picture cs-picture5">
              <source media="(max-width: 600px)" srcset="https://ik.imagekit.io/6ycdefzj5/freedombrit5.jpeg?updatedAt=1744661799327">
              <source media="(min-width: 601px)" srcset="https://ik.imagekit.io/6ycdefzj5/freedombrit5.jpeg?updatedAt=1744661799327">
              <img loading="lazy" decoding="async" src="https://ik.imagekit.io/6ycdefzj5/freedombrit5.jpeg?updatedAt=1744661799327" alt="formerly dress you people outside" width="380" height="271">
          </picture>
      </div>
  </div>
</section>


<!-- ============================================ -->
<!--                     Quote                    -->
<!-- ============================================ -->

<section id="quote-2141">
  <div class="cs-container">
      <div class="cs-content">
          <img class="cs-quote-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/beige-quote.svg" alt="quote" width="222" height="186" aria-hidden="true">
          <p class="cs-quote">
            “I had a pair of wings painted for a friend after her dad passed. Brit customized a quote for me and I absolutely love it! It’s perfect!”
          </p>
          <span class="cs-name"> - Traci Byrd</span>
          <span class="cs-job"></span>
      </div>
  </div>
  
</section>

<!-- ============================================ -->
<!--                     CTA                      -->
<!-- ============================================ -->

<section id="cta-697">
  <div class="cs-container">
      <div class="cs-content">
          <h2 class="cs-title">Ready to order your custom Freedom Collection piece? Click below to get started!</h2>
          <a href="" class="cs-button-solid">CONTACT</a>
      </div>
  </div>
  <!--SVG Waves Background-->
  <img class="cs-background" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FGraphics%2Fwaves-3.svg" alt="wave graphic" width="1920" height="318" loading="lazy" decoding="async" aria-hidden="true">
  </section>
                              
                              
                              
















{% if collection.description_title and collection.description %}
<section id="sbs">
  <div class="cs-container">
      <div class="cs-right" style="display: flex;flex-direction: column;align-items: center; padding: 3em;">
          <h2 class="cs-title" style="font-family: 'Trirong';font-weight: 300;">{{ collection.description_title }}</h2>
          <p class="cs-text" style="text-align: left;">
            {{ collection.description  | markdownblock | safe}}
          </p>
          <p class="cs-text">
              
          </p>
      </div>
  </div>
</section>
{% endif %}
<!-- ============================================ -->
<!--                 Collection                   -->
<!-- ============================================ -->

<section id="collection-1624">
  <div class="cs-container">
      <div class="cs-content">
          <h2 class="cs-title" style="font-family: 'Trirong';font-weight: 300;"><a href="https://payhip.com/BritAlbinArt" class="cs-button-solid">My Store</a></h2>
          
          <!-- <a href="" class="cs-button-solid">View All Collection</a> -->
      </div>
      <div class="cs-collection-wrapper">
          <ul class="cs-card-group">
            {% for painting in collection.paintings  %}
              <li class="cs-item">
                  <a href="{{ painting.url }}" class="cs-link">
                      <div class="cs-image-group">
                          <picture class="cs-picture">
                              <!--Mobile Image-->
                              <source media="(max-width: 600px)" srcset="{{ painting.feature_image }}">
                              <!--Tablet and above Image-->
                              <source media="(min-width: 601px)" srcset="{{ painting.feature_image }}">
                              <img loading="lazy" decoding="async" src="{{ painting.feature_image }}" alt="painting" width="1280" height="1280">
                          </picture>
                          <!-- <span class="cs-offer"></span> -->
                      </div>
                      <div class="cs-details">
                          <h3 class="cs-product">{{ painting.title }}</h3>
                          <div class="cs-wrapper">
                              <div class="cs-flex">
                                  <span class="cs-price">{% if painting.price %}{{ painting.price | money }}{% else %} contact{% endif %}</span>
                                  <!-- <span class="cs-old-price">$45.00</span> -->
                              </div>
                          </div>
                      </div>
                  </a>
              </li>
              {% endfor %}
          </ul>
      </div>
  </div>
</section>
<div style="display: flex;flex-direction: column;align-items: center;">

  <a href="/contact" class="cs-button-solid" style="color: white;">Contact For Custom Sizes</a>
</div>

<div class="custom-shape-divider-bottom-1743381112">
  <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
      <path d="M892.25 114.72L0 0 0 120 1200 120 1200 0 892.25 114.72z" class="shape-fill"></path>
  </svg>
</div>

<style>
  .custom-shape-divider-bottom-1743381112 {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1743381112 svg {
  position: relative;
  display: block;
  width: calc(297% + 1.3px);
  height: 92px;
  transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1743381112 .shape-fill {
  fill: #FBF5F1;
}
</style>


{% elseif collection.title == 'Limited Edition Esther Prints' %}

<!-- ============================================ -->
<!--             Top Description                  -->
<!-- ============================================ -->

<section id="services-1169">
  <div class="cs-container">
    <div class="cs-content">
      <span class="cs-topper"></span>
      <h2 class="cs-title" style="font-family: 'Trirong';font-weight: 300;">This painting was a custom commission based on Esther 4:14 </h2>
      <p class="cs-text" style="text-align: left;">
        “Perhaps you were born for such a time as this.” Limited edition prints of this painting are available for purchase for a limited time!
      </p>
    </div>
  </div>
</section>




<!-- ============================================ -->
<!--               Side By Side Pair              -->
<!-- ============================================ -->

<section id="RPsbs-2139">
  <div class="cs-container">
      <div class="cs-section1">
          <div class="cs-content">
              <span class="cs-topper">LIMITED EDITION ESTHER PRINTS</span>
              <h2 class="cs-title">Each print comes with a certificate of authenticity and a summary sharing the meaning behind this painting.</h2>
          </div>
          <picture class="cs-picture1">
              <source media="(max-width: 600px)" srcset="https://ik.imagekit.io/6ycdefzj5/estherbrit3.png?updatedAt=1744665320158">
              <source media="(min-width: 601px)" srcset="https://ik.imagekit.io/6ycdefzj5/estherbrit3.png?updatedAt=1744665320158">
              <img loading="lazy" decoding="async" src="https://ik.imagekit.io/6ycdefzj5/estherbrit3.png?updatedAt=1744665320158" alt="wedding" width="688" height="464" aria-hidden="true">
          </picture>
      </div>
      <div class="cs-section2">
          <picture class="cs-picture2">
              <!--Mobile Image-->
              <source media="(max-width: 600px)" srcset="https://ik.imagekit.io/6ycdefzj5/estherbrit1.png?updatedAt=1744665645854">
              <!--Tablet and above Image-->
              <source media="(min-width: 601px)" srcset="https://ik.imagekit.io/6ycdefzj5/estherbrit1.png?updatedAt=1744665645854">
              <img loading="lazy" decoding="async" src="https://ik.imagekit.io/6ycdefzj5/estherbrit1.png?updatedAt=1744665645854" alt="wedding" width="674" height="504" aria-hidden="true">
          </picture>
          <ul class="cs-ul">
              <li class="cs-li">
                  <h3 class="cs-h3">- Katie Penland </h3>
                  <p class="cs-li-text">
                    “This is such a gift to my soul, my family, and to our home. Brit took a simple idea and made it come to life in a way tha5 is artistic and symbolic. I wish I could find the right words to describe how much I love it, but I’m quite speechless still.”
                  </p>
              </li>
             
          </ul>
      </div>
  </div>
  
</section>



<!-- ============================================ -->
<!--                 Side by Side                 -->
<!-- ============================================ -->

<section id="sbs-1901">
  <div class="cs-container">
      <div class="cs-content">
          <picture class="cs-picture cs-picture1">
              <!--Mobile Image-->
              <source media="(max-width: 600px)" srcset="https://ik.imagekit.io/6ycdefzj5/estherbrit2.png?updatedAt=1744664414806">
              <!--Tablet and above Image-->
              <source media="(min-width: 601px)" srcset="https://ik.imagekit.io/6ycdefzj5/estherbrit2.png?updatedAt=1744664414806">
              <img loading="lazy" decoding="async" src="https://ik.imagekit.io/6ycdefzj5/estherbrit2.png?updatedAt=1744664414806" alt="people" width="608" height="406">
          </picture>
          <div class="cs-wrapper cs-wrapper1">
              <span class="cs-topper"></span>
              <h2 class="cs-title"></h2>
              <p class="cs-text">
                
              </p>
              <a class="cs-button-solid" href=""></a>
          </div>
      </div>
      <div class="cs-content">
          <picture class="cs-picture cs-picture2">
              <!--Mobile Image-->
              <source media="(max-width: 600px)" srcset="https://ik.imagekit.io/6ycdefzj5/Estherbrit4.png?updatedAt=1744665827479">
              <!--Tablet and above Image-->
              <source media="(min-width: 601px)" srcset="https://ik.imagekit.io/6ycdefzj5/Estherbrit4.png?updatedAt=1744665827479">
              <img loading="lazy" decoding="async" src="https://ik.imagekit.io/6ycdefzj5/Estherbrit4.png?updatedAt=1744665827479" alt="people" width="608" height="406">
          </picture>
          <div class="cs-wrapper cs-wrapper2">
              <span class="cs-topper">Limited Edition Esther Prints</span>
              <h2 class="cs-title"></h2>
              <p class="cs-text">
                Filler words, this is just random words lol
              </p>
              <a class="cs-button-solid" href=""></a>
          </div>
      </div>
  </div>
</section>

                              
                              



<!-- ============================================ -->
<!--                   Reviews                    -->
<!-- ============================================ -->

<section id="reviews-57">
  <div class="cs-container">
      <picture class="cs-picture">
          <source media="(max-width: 600px)" srcset="https://ik.imagekit.io/6ycdefzj5/estherreview.jpeg?updatedAt=1744663495001">
          <source media="(min-width: 601px)" srcset="https://ik.imagekit.io/6ycdefzj5/estherreview.jpeg?updatedAt=1744663495001">
          <img aria-hidden="true" loading="lazy" decoding="async" src="https://ik.imagekit.io/6ycdefzj5/estherreview.jpeg?updatedAt=1744663495001" alt="man smiling" width="320" height="340">
      </picture>
      <div class="cs-content">
          <span class="cs-topper">LIMITED EDITION ESTHER PRINTS</span>
          <h2 class="cs-title">“WOW! I love it! <span>It’s AWESOME!”</span></h2>
          <p class="cs-text">
            First limited edition print, Lou Engle, Intersessor for revival, co-led initiative for A Million Women call to Esthers at the Capital in 2024, and the visionary co-founder of The Call
          </p>
          
          <a href="" class="cs-button-solid"></a>
      </div>
  </div>
</section>


<!-- ============================================ -->
<!--                     Quote                    -->
<!-- ============================================ -->

<section id="quote-2141">
  <div class="cs-container">
      <div class="cs-content">
          <img class="cs-quote-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/beige-quote.svg" alt="quote" width="222" height="186" aria-hidden="true">
          <p class="cs-quote">
            “There is a design and a purpose for each of our lives. Living unaware of that is sad, but dying unaware of it is a tragedy.”
          </p>
          <span class="cs-name"> - Lou Engle</span>
          <span class="cs-job"></span>
      </div>
  </div>
  
</section>



<!-- ============================================ -->
<!--                     CTA                      -->
<!-- ============================================ -->

<section id="cta-697">
  <div class="cs-container">
      <div class="cs-content">
          <h2 class="cs-title">Ready to order your custom LIMITED EDITION ESTHER PRINT? Click below to get started!</h2>
          <a href="" class="cs-button-solid">CONTACT</a>
      </div>
  </div>
  <!--SVG Waves Background-->
  <img class="cs-background" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FGraphics%2Fwaves-3.svg" alt="wave graphic" width="1920" height="318" loading="lazy" decoding="async" aria-hidden="true">
  </section>
                     
                              


























{% if collection.description_title and collection.description %}
<section id="sbs">
  <div class="cs-container">
      <div class="cs-right" style="display: flex;flex-direction: column;align-items: center; padding: 3em;">
          <h2 class="cs-title" style="font-family: 'Trirong';font-weight: 300;">{{ collection.description_title }}</h2>
          <p class="cs-text" style="text-align: left;">
            {{ collection.description  | markdownblock | safe}}
          </p>
          <p class="cs-text">
              
          </p>
      </div>
  </div>
</section>
{% endif %}
<!-- ============================================ -->
<!--                 Collection                   -->
<!-- ============================================ -->

<section id="collection-1624">
  <div class="cs-container">
      <div class="cs-content">
          <h2 class="cs-title" style="font-family: 'Trirong';font-weight: 300;"><a href="https://payhip.com/BritAlbinArt" class="cs-button-solid">My Store</a></h2>
          
          <!-- <a href="" class="cs-button-solid">View All Collection</a> -->
      </div>
      <div class="cs-collection-wrapper">
          <ul class="cs-card-group">
            {% for painting in collection.paintings  %}
              <li class="cs-item">
                  <a href="{{ painting.url }}" class="cs-link">
                      <div class="cs-image-group">
                          <picture class="cs-picture">
                              <!--Mobile Image-->
                              <source media="(max-width: 600px)" srcset="{{ painting.feature_image }}">
                              <!--Tablet and above Image-->
                              <source media="(min-width: 601px)" srcset="{{ painting.feature_image }}">
                              <img loading="lazy" decoding="async" src="{{ painting.feature_image }}" alt="painting" width="1280" height="1280">
                          </picture>
                          <!-- <span class="cs-offer"></span> -->
                      </div>
                      <div class="cs-details">
                          <h3 class="cs-product">{{ painting.title }}</h3>
                          <div class="cs-wrapper">
                              <div class="cs-flex">
                                  <span class="cs-price">{% if painting.price %}{{ painting.price | money }}{% else %} contact{% endif %}</span>
                                  <!-- <span class="cs-old-price">$45.00</span> -->
                              </div>
                          </div>
                      </div>
                  </a>
              </li>
              {% endfor %}
          </ul>
      </div>
  </div>
</section>
<div style="display: flex;flex-direction: column;align-items: center;">

  <a href="/contact" class="cs-button-solid" style="color: white;">Contact For Custom Sizes</a>
</div>

<div class="custom-shape-divider-bottom-1743381112">
  <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
      <path d="M892.25 114.72L0 0 0 120 1200 120 1200 0 892.25 114.72z" class="shape-fill"></path>
  </svg>
</div>

<style>
  .custom-shape-divider-bottom-1743381112 {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1743381112 svg {
  position: relative;
  display: block;
  width: calc(297% + 1.3px);
  height: 92px;
  transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1743381112 .shape-fill {
  fill: #FBF5F1;
}
</style>









{% else %}


{% if collection.description_title and collection.description %}
<section id="sbs">
  <div class="cs-container">
      <div class="cs-right" style="display: flex;flex-direction: column;align-items: center; padding: 3em;">
          <h2 class="cs-title" style="font-family: 'Trirong';font-weight: 300;">{{ collection.description_title }}</h2>
          <p class="cs-text" style="text-align: left;">
            {{ collection.description  | markdownblock | safe}}
          </p>
          <p class="cs-text">
              
          </p>
      </div>
  </div>
</section>
{% endif %}
<!-- ============================================ -->
<!--                 Collection                   -->
<!-- ============================================ -->

<section id="collection-1624">
  <div class="cs-container">
      <div class="cs-content">
          <h2 class="cs-title" style="font-family: 'Trirong';font-weight: 300;"><a href="https://payhip.com/BritAlbinArt" class="cs-button-solid">My Store</a></h2>
          
          <!-- <a href="" class="cs-button-solid">View All Collection</a> -->
      </div>
      <div class="cs-collection-wrapper">
          <ul class="cs-card-group">
            {% for painting in collection.paintings  %}
              <li class="cs-item">
                  <a href="{{ painting.url }}" class="cs-link">
                      <div class="cs-image-group">
                          <picture class="cs-picture">
                              <!--Mobile Image-->
                              <source media="(max-width: 600px)" srcset="{{ painting.feature_image }}">
                              <!--Tablet and above Image-->
                              <source media="(min-width: 601px)" srcset="{{ painting.feature_image }}">
                              <img loading="lazy" decoding="async" src="{{ painting.feature_image }}" alt="painting" width="1280" height="1280">
                          </picture>
                          <!-- <span class="cs-offer"></span> -->
                      </div>
                      <div class="cs-details">
                          <h3 class="cs-product">{{ painting.title }}</h3>
                          <div class="cs-wrapper">
                              <div class="cs-flex">
                                  <span class="cs-price">{% if painting.price %}{{ painting.price | money }}{% else %} contact{% endif %}</span>
                                  <!-- <span class="cs-old-price">$45.00</span> -->
                              </div>
                          </div>
                      </div>
                  </a>
              </li>
              {% endfor %}
          </ul>
      </div>
  </div>
</section>
<div style="display: flex;flex-direction: column;align-items: center;">

  <a href="/contact" class="cs-button-solid" style="color: white;">Contact For Custom Sizes</a>
</div>

<div class="custom-shape-divider-bottom-1743381112">
  <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
      <path d="M892.25 114.72L0 0 0 120 1200 120 1200 0 892.25 114.72z" class="shape-fill"></path>
  </svg>
</div>

<style>
  .custom-shape-divider-bottom-1743381112 {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1743381112 svg {
  position: relative;
  display: block;
  width: calc(297% + 1.3px);
  height: 92px;
  transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1743381112 .shape-fill {
  fill: #FBF5F1;
}
</style>




{% endif %}



{% include 'components/cta.html' %}







{% endblock %}