---
pagination:
  data: Artcollections.collections
  size: 1
  alias: collection
  addAllPagesToCollections: true
permalink: "Artcollections/{{ collection.title | slugify }}/"
---



{% extends "layouts/base.html" %}
{% block head %}
<link rel="stylesheet" href="/assets/css/shop.css">


<style>
/* Large Desktop - 1600px - Prallax Effect */
@media only screen and (min-width: 100rem) {
    #hero-shop {
        .cs-background {
            {% if collection.background %}
            background: url("{{ collection.background }}");
            {% else %}
            background: url("/assets/images/shop/bg_brown.jpg");
            {% endif %}
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            background-attachment: fixed;
            img {
                display: none;
            }
        }
        
    }
}


</style>


{% endblock %}


{% block body %}

<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero-shop">
  <div class="cs-container">
      <div class="cs-content">
          <span class="cs-topper"></span>
          <!-- <h1 class="cs-title" style="font-family: 'Trirong';font-weight: 300;">Mended At The<br> Cross Collection</h1> -->
          <h1 class="cs-title" style="font-family: 'Trirong';font-weight: 300;">{{ collection.title }}</h1>
          
          <p class="cs-text">
               
          </p>
          <!-- <a href="https://payhip.com/BritAlbinArt" class="cs-button-solid">My Store</a> -->
      </div>
  </div>

  <!--SVG V Graphic-->
  <!-- <img class="cs-graphic" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/centered-v.svg" alt="graphic" width="1920" height="163" aria-hidden="true"> -->

  <!-- Background Image, also BG Image is set in CSS at 1600px wide for parallax effect -->
  {% if collection.background %}
  <picture class="cs-background">
      <source media="(max-width: 600px)" srcset="{{ collection.background }}">
      <source media="(min-width: 601px)" srcset="{{ collection.background }}">
      <img decoding="async" src="{{ collection.background }}" alt="garage" width="2250" height="1500" aria-hidden="true">
  </picture>
  {% else %}
  <picture class="cs-background">
      <source media="(max-width: 600px)" srcset="/assets/images/shop/bg_brown.jpg">
      <source media="(min-width: 601px)" srcset="/assets/images/shop/bg_brown.jpg">
      <img decoding="async" src="/assets/images/shop/bg_brown.jpg" alt="garage" width="2250" height="1500" aria-hidden="true">
  </picture>
  {% endif %}
</section>



{% if collection.title != 'Raising Arrows ' %}



{% if collection.description_title and collection.description %}
<section id="sbs">
  <div class="cs-container">
      <div class="cs-right" style="display: flex;flex-direction: column;align-items: center; padding: 3em;">
          <h2 class="cs-title" style="font-family: 'Trirong';font-weight: 300;">{{ collection.description_title }}</h2>
          <p class="cs-text" style="text-align: left;">
            {{ collection.description  | markdownblock | safe}}
          </p>
          <p class="cs-text">
              
          </p>
      </div>
  </div>
</section>
{% endif %}
<!-- ============================================ -->
<!--                 Collection                   -->
<!-- ============================================ -->

<section id="collection-1624">
  <div class="cs-container">
      <div class="cs-content">
          <h2 class="cs-title" style="font-family: 'Trirong';font-weight: 300;"><a href="https://payhip.com/BritAlbinArt" class="cs-button-solid">My Store</a></h2>
          
          <!-- <a href="" class="cs-button-solid">View All Collection</a> -->
      </div>
      <div class="cs-collection-wrapper">
          <ul class="cs-card-group">
            {% for painting in collection.paintings  %}
              <li class="cs-item">
                  <a href="{{ painting.url }}" class="cs-link">
                      <div class="cs-image-group">
                          <picture class="cs-picture">
                              <!--Mobile Image-->
                              <source media="(max-width: 600px)" srcset="{{ painting.feature_image }}">
                              <!--Tablet and above Image-->
                              <source media="(min-width: 601px)" srcset="{{ painting.feature_image }}">
                              <img loading="lazy" decoding="async" src="{{ painting.feature_image }}" alt="painting" width="1280" height="1280">
                          </picture>
                          <!-- <span class="cs-offer"></span> -->
                      </div>
                      <div class="cs-details">
                          <h3 class="cs-product">{{ painting.title }}</h3>
                          <div class="cs-wrapper">
                              <div class="cs-flex">
                                  <span class="cs-price">{% if painting.price %}{{ painting.price | money }}{% else %} contact{% endif %}</span>
                                  <!-- <span class="cs-old-price">$45.00</span> -->
                              </div>
                          </div>
                      </div>
                  </a>
              </li>
              {% endfor %}
          </ul>
      </div>
  </div>
</section>
<div style="display: flex;flex-direction: column;align-items: center;">

  <a href="/contact" class="cs-button-solid" style="color: white;">Contact For Custom Sizes</a>
</div>

<div class="custom-shape-divider-bottom-1743381112">
  <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
      <path d="M892.25 114.72L0 0 0 120 1200 120 1200 0 892.25 114.72z" class="shape-fill"></path>
  </svg>
</div>

<style>
  .custom-shape-divider-bottom-1743381112 {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1743381112 svg {
  position: relative;
  display: block;
  width: calc(297% + 1.3px);
  height: 92px;
  transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1743381112 .shape-fill {
  fill: #FBF5F1;
}
</style>



{% else %}
<!-- Raising Arrows Special-->



<!-- ============================================ -->
<!--             Side By Side Reverse             -->
<!-- ============================================ -->

<section id="sbsr-2231">
  <div class="cs-container">
      <div class="cs-content">
          <span class="cs-topper">Raising Arrows</span>
          <h2 class="cs-title">Demario and Tamela Davis</h2>
          <p class="cs-text">
            “I absolutely LOVE our Arrow painting!!! I surprised my husband and several friends loved ours so much when they saw it that they commissioned her to paint one for them too. My heart is FULL!”<br>

            - Tamela Davis
          </p>
          
      </div>
      <div class="cs-image-group">
          <!--Main Image-->
          <picture class="cs-picture cs-picture1">
              <!--Mobile Image-->
              <source media="(max-width: 600px)" srcset="https://ik.imagekit.io/6ycdefzj5/arrow1.jpeg?updatedAt=1744400401187">
              <!--Tablet and above Image-->
              <source media="(min-width: 601px)" srcset="https://ik.imagekit.io/6ycdefzj5/arrow1.jpeg?updatedAt=1744400401187">
              <img loading="lazy" decoding="async" src="https://ik.imagekit.io/6ycdefzj5/arrow1.jpeg?updatedAt=1744400401187" alt="wedding" width="272" height="337">
          </picture>
          <!--Small Image-->
          <picture class="cs-picture cs-picture2">
              <!--Mobile Image-->
              <source media="(max-width: 600px)" srcset="https://ik.imagekit.io/6ycdefzj5/arrow2.jpeg?updatedAt=1744400418734">
              <!--Tablet and above Image-->
              <source media="(min-width: 601px)" srcset="https://ik.imagekit.io/6ycdefzj5/arrow2.jpeg?updatedAt=1744400418734">
              <img loading="lazy" decoding="async" src="https://ik.imagekit.io/6ycdefzj5/arrow2.jpeg?updatedAt=1744400418734" alt="wedding" width="243" height="367">
          </picture>
      </div>
  </div>
  
</section>



<!-- ============================================ -->
<!--                Side By Side                  -->
<!-- ============================================ -->

<section id="sbs-2233">
  <div class="cs-container">
      <div class="cs-content">
          <span class="cs-topper">Raising Arrows</span>
          <h2 class="cs-title">Drew Brees</h2>
          <p class="cs-text">
            “We chose to include a Center arrow pointed up toward heaven as a reminder to keep God first. We love our painting so much!!!”<br> - Brittany and Drew Brees
          </p>
          
          
      </div>
      <div class="cs-image-group">
          <!--Main Image-->
          <picture class="cs-picture cs-picture1">
              <!--Mobile Image-->
              <source media="(max-width: 600px)" srcset="https://ik.imagekit.io/6ycdefzj5/arrow3.jpg?updatedAt=1744401133090">
              <!--Tablet and above Image-->
              <source media="(min-width: 601px)" srcset="https://ik.imagekit.io/6ycdefzj5/arrow3.jpg?updatedAt=1744401133090">
              <img loading="lazy" decoding="async" src="https://ik.imagekit.io/6ycdefzj5/arrow3.jpg?updatedAt=1744401133090" alt="wedding" width="272" height="337">
          </picture>
          <!--Small Image-->
          <picture class="cs-picture cs-picture2">
              <!--Mobile Image-->
              <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/wedding18.jpg">
              <!--Tablet and above Image-->
              <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/wedding18.jpg">
              <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/wedding18.jpg" alt="wedding" width="243" height="367">
          </picture>
          
      </div>
  </div>
 
</section>


<!-- ============================================ -->
<!--             Side By Side Reverse             -->
<!-- ============================================ -->

<section id="sbsr-2232">
  <div class="cs-container">
      <div class="cs-content">
          <span class="cs-topper">Raising Arrows</span>
          <h2 class="cs-title">Collins Family Arrows & review</h2>
          <p class="cs-text">
            “Brit painted a beautiful arrows piece for our family—a reminder of God’s goodness in every child He’s given us. With 11 children and 3 in heaven, this painting captured the beauty of our calling as parents and reflects our heart to raise our arrows for Christ.”<br>

            — Karissa Collins 
          </p>
          
          
      </div>
      <div class="cs-image-group">
          <picture class="cs-picture">
              <!--Mobile Image-->
              <source media="(max-width: 600px)" srcset="https://ik.imagekit.io/6ycdefzj5/arrow4.jpeg?updatedAt=1744402077889">
              <!--Tablet and above Image-->
              <source media="(min-width: 601px)" srcset="https://ik.imagekit.io/6ycdefzj5/arrow4.jpeg?updatedAt=1744402077889">
              <img loading="lazy" decoding="async" src="https://ik.imagekit.io/6ycdefzj5/arrow4.jpeg?updatedAt=1744402077889" alt="wedding" width="243" height="367">
          </picture>
      </div>
  </div>
  
</section>



<!-- ============================================ -->
<!--             Side By Side Reverse             -->
<!-- ============================================ -->

<section id="sbsr-2272">
  <div class="cs-container">
      <div class="cs-image-group">
          <!--Main Image-->
          <picture class="cs-picture cs-picture1">
              <!--Mobile Image-->
              <source media="(max-width: 600px)" srcset="https://ik.imagekit.io/6ycdefzj5/arrow6.jpeg?updatedAt=1744402352183">
              <!--Tablet and above Image-->
              <source media="(min-width: 601px)" srcset="https://ik.imagekit.io/6ycdefzj5/arrow6.jpeg?updatedAt=1744402352183">
              <img loading="lazy" decoding="async" src="https://ik.imagekit.io/6ycdefzj5/arrow6.jpeg?updatedAt=1744402352183" alt="wedding" width="272" height="337">
          </picture>
          <!--Small Image-->
          <picture class="cs-picture cs-picture2">
              <!--Mobile Image-->
              <source media="(max-width: 600px)" srcset="https://ik.imagekit.io/6ycdefzj5/arrow5.jpeg?updatedAt=1744402329360">
              <!--Tablet and above Image-->
              <source media="(min-width: 601px)" srcset="https://ik.imagekit.io/6ycdefzj5/arrow5.jpeg?updatedAt=1744402329360">
              <img loading="lazy" decoding="async" src="https://ik.imagekit.io/6ycdefzj5/arrow5.jpeg?updatedAt=1744402329360" alt="wedding" width="243" height="367">
          </picture>
      </div>
      <div class="cs-content">
          <span class="cs-topper">Raising Arrows</span>
          <h2 class="cs-title">Trahan Family Arrows & review
          </h2>
          <p class="cs-text">
            “Our children are truly the greatest gifts from God, and this beautiful painting perfectly captures that. It now hangs in our living room as a meaningful conversation piece. Every time we look at it, we’re reminded of the countless blessings God has given us in raising another child of God. To God be the glory!” <br>

            - Becca Trahan 
          </p>
          </p>
          
      </div>
  </div>
  
</section>



<!-- ============================================ -->
<!--                     CTA                      -->
<!-- ============================================ -->

<section id="cta-697">
  <div class="cs-container">
      <div class="cs-content">
          <h2 class="cs-title">Click the button below to get started on your custom Family Legacy Paintings!</h2>
          <a href="" class="cs-button-solid">CONTACT</a>
      </div>
  </div>
  <!--SVG Waves Background-->
  <img class="cs-background" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FGraphics%2Fwaves-3.svg" alt="wave graphic" width="1920" height="318" loading="lazy" decoding="async" aria-hidden="true">
</section>
                              
                              
                              
                              
                              
                              
                              




{% endif %}



{% include 'components/cta.html' %}







{% endblock %}