/*-- -------------------------- -->
<---        Collection          -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #collection-1624 {
        padding: var(--sectionPadding);

        .cs-container {
            width: 100%;
            max-width: (584/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
            position: relative;
            z-index: 1;
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            /* breaks up the parent div so the children are no longer bound by it.  Now the children can be children of the cs-container and allow us to arrange their order with the cs-card-group */
            display: contents;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-title {
            margin: 0;
        }

        .cs-button-solid {
            font-size: (16/16rem);
            font-weight: 700;
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            text-align: center;
            text-decoration: none;
            min-width: (150/16rem);
            margin: 1rem 0 0;
            box-sizing: border-box;
            padding: 0 (24/16rem);
            color: #fff;
            background-color: var(--primary);
            display: inline-block;
            position: relative;
            z-index: 1;
            order: 3;

            &:before {
                content: "";
                width: 0%;
                height: 100%;
                background: #000;
                opacity: 1;
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
                transition: width 0.3s;
            }

            &:hover:before {
                width: 100%;
            }
        }

        .cs-collection-wrapper {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            align-items: stretch;
            gap: (20/16rem);
        }

        .cs-item-offer {
            width: 100%;
            max-height: 100%;
            height: auto;
            background-color: #e8e7e4;
            display: flex;
            flex-direction: column;
            grid-column: span 12;
            align-items: flex-start;
            position: relative;
            z-index: 1;
        }

        .cs-text-wrapper {
            /* 40px to 80px top and bottom */
            /* 24px - 40px left & right */
            padding: clamp(2.5rem, 8vw, 5rem) clamp(1.5rem, 4vw, 2.5rem);
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            position: relative;
            z-index: 1;
        }

        .cs-card-group {
            width: 100%;
            margin: 0;
            padding: 0;
            display: grid;
            justify-items: center;
            align-items: center;
            position: relative;
            grid-template-columns: repeat(auto-fit, minmax(19.0625rem, 1fr));
            column-gap: clamp(1rem, 3vw, 1.25rem);
            row-gap: clamp(1rem, 3vw, 1.5rem);
            grid-column: span 12;
            transform-style: preserve-3d;
        }

        .cs-item {
            width: 100%;
            list-style: none;
            display: flex;
            flex-direction: column;
            position: relative;

            &:hover .cs-picture {
                background-color: rgba(0, 0, 0, 0.1);

                img {
                    transform: scale(1.05);
                }
            }
        }

        .cs-offer-tag {
            font-size: (13/16rem);
            font-weight: 700;
            line-height: 1.2em;
            text-transform: uppercase;
            width: fit-content;
            margin-bottom: (8/16rem);
            padding: (4/16rem) (8/16rem);
            color: #f7f7f7;
            background-color: var(--secondary);
            display: block;
        }

        .cs-h3 {
            font-size: clamp(1.9375rem, 5vw, 2.4375rem);
            font-weight: 900;
            line-height: 1.2em;
            max-width: 20ch;
            margin: 0 0 (4/16rem);
            color: var(--headerColor);
        }

        .cs-item-text {
            font-size: (16/16rem);
            line-height: 1.5em;
            color: var(--bodyTextColor);
            display: block;
        }

        .cs-background {
            width: 100%;
            height: clamp(300px, 40vw, 600px);
            background-color: #e8e7e4;
            overflow: hidden;
            display: flex;
            align-items: flex-end;
            position: relative;
            z-index: -2;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: top;
                transition: opacity .3s, transform .6s;
            }
        }

        .cs-link {
            text-decoration: none;
        }

        .cs-image-group {
            width: auto;
            height: (300/16rem);
            margin-bottom: (20/16rem);
            position: relative;
        }

        .cs-picture {
            width: 100%;
            height: 100%;
            background-color: #f6f6f6;
            display: block;
            overflow: hidden;

            img {
                max-height: 25rem;
                width: 100%;
                height: 100%;
                object-fit: contain;
                transition: transform .3s;
            }
        }

        .cs-offer {
            font-size: (13/16rem);
            font-weight: 700;
            line-height: 1.2em;
            text-transform: uppercase;
            letter-spacing: 1.3px;
            padding: (6/16rem);
            color: #fff;
            background: #ff4747;
            position: absolute;
            top: (12/16rem);
            right: (12/16rem);
        }

        .cs-product {
            font-size: clamp(1.25rem, 3vw, 1.5rem);
            font-weight: 700;
            line-height: 1.2em;
            margin: 0;
            color: var(--headerColor);
        }

        .cs-wrapper {
            margin-top: (4/16rem);
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .cs-price {
            font-size: (20/16rem);
            font-weight: 700;
            line-height: 1.2em;
            color: var(--primary);
        }

        .cs-old-price {
            font-size: (16/16rem);
            font-weight: 700;
            line-height: 1.2em;
            text-decoration: line-through;
            color: #767676;
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #collection-1624 {
        .cs-container {
            max-width: (1280/16rem);
        }

        .cs-content {
            width: 100%;
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            gap: (48/16rem);
            grid-column: span 12;
        }

        .cs-h3 {
            margin-bottom: (4/16rem);
        }

        .cs-item-text {
            margin-bottom: (32/16rem);
        }

        .cs-button-solid {
            margin: 0;
        }

        .cs-text-wrapper {
            width: 100%;
            height: 100%;
            margin: 0;
            /* 16px - 20px */
            padding-left: clamp(1rem, 1.5vw, 1.25rem);
            padding-right: clamp(1rem, 1.5vw, 1.25rem);
            grid-column: span 5;
        }

        .cs-card-group {
            width: auto;
            grid-column: span 7;
            grid-template-columns: repeat(12, 1fr);
            align-items: stretch;
        }

        .cs-item {
            height: 100%;
            grid-column: span 6;
        }

        .cs-background {
            height: 100%;
        }

        .cs-image-group {
            height: auto;
            min-height: clamp(12rem, 23vw, 20rem);
        }
    }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #collection-1624 {
        .cs-item-offer {
            height: auto;
            grid-column: span 3;
        }

        .cs-card-group {
            grid-column: span 9;
        }

        .cs-item {
            grid-column: span 4;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #collection-1624 {
            .cs-title,
            .cs-product,
            .cs-price,
            .cs-old-price {
                color: var(--bodyTextColorWhite);
            }

            .cs-item {
                border-color: rgba(255, 255, 255, 0.2);

                &:hover .cs-picture {
                    background-color: rgba(255, 255, 255, 0.2);
                }
            }

            .cs-picture {
                background-color: rgba(255, 255, 255, 0.1);
            }
        }
    }
}
                                




/*
*-- -------------------------- -->
<---           Hero             -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #hero-shop {
        /* 200px - 300px - leaving extra space for the navigation */
        padding: clamp(12.5rem, 31.95vw, 18.75rem) (16/16rem) 0;
        /* 150px - 300px */
        padding-bottom: clamp(9.375rem, 22vw, 18.75rem);
        /* prevents padding and border from affecting height and width */
        box-sizing: border-box;
        overflow: hidden;
        position: relative;
        z-index: 1;

        .cs-container {
            width: 100%;
            max-width: (1280/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            max-width: (630/16rem);
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-topper {
            font-size: var(--topperFontSize);
            line-height: 1.2em;
            text-transform: uppercase;
            text-align: inherit;
            letter-spacing: 0.1em;
            font-weight: 700;
            color: var(--secondary);
            margin-bottom: (4/16rem);
            display: block;
        }

        .cs-title {
            /* 39px - 61px */
            font-size: clamp(3rem, 3rem, 5rem);
            font-weight: 700;
            line-height: 1.2em;
            text-align: inherit;
            max-width: (829/16rem);
            margin: 0 0 (16/16rem) 0;
            color: #fff;
            position: relative;
        }

        .cs-text {
            /* 16px - 20px */
            font-size: clamp(1rem, 1.95vw, 1.25rem);
            line-height: 1.5em;
            text-align: inherit;
            width: 100%;
            /* 464px - 622px */
            max-width: clamp(29rem, 60vw, 38.785rem);
            margin: 0 0 (40/16rem) 0;
            color: #fff;
        }

        .cs-button-solid {
            font-size: (16/16rem);
            /* 46px - 56px */
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            text-decoration: none;
            font-weight: 700;
            margin: 0;
            color: #fff;
            padding: 0 (24/16rem);
            background-color: var(--primary);
            display: inline-block;
            position: relative;
            z-index: 1;

            &:before {
                content: "";
                position: absolute;
                display: block;
                height: 100%;
                width: 0%;
                background: var(--buttonBackgroundColor);
                opacity: 1;
                top: 0;
                left: 0;
                z-index: -1;
                transition: width 0.3s;
            }

            &:hover {
                &:before {
                    width: 100%;
                }
            }
        }

        .cs-graphic {
            width: 100%;
            height: auto;
            position: absolute;
            bottom: -1px;
            left: 0;
        }

        .cs-background {
            width: 100%;
            height: 100%;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -2;

            &:before {
                /* Overlay */
                content: "";
                width: 100%;
                height: 100%;
                background: #897361ab;
                opacity: 0.84;
                position: absolute;
                display: block;
                top: 0;
                left: 0;
                z-index: 1;
                /* prevents the cursor from interacting with it */
                pointer-events: none;
            }

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                object-fit: cover;
                /* makes the top of the image start at the top of the parent */
                object-position: top;
            }
        }
        .cs-button-transparent {
            z-index: 1;
            position: relative;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            border: 1px solid var(--bodyTextColorWhite);
            margin: 0 (8/16rem);
            background-color: transparent;
            /* 46px - 56px */
            height: clamp(2.875em, 5.5vw, 3.5em);
            width: (180/16rem);
            box-sizing: border-box;
            padding: 0;
            text-decoration: none;
            font-size: (16/16rem);
            /* 46px - 56px */
            line-height: clamp(2.875em, 5.5vw, 3.5em);
            font-weight: 700;
            color: #fff;

            .cs-img {
                display: block;
                margin-right: (12/16rem);
            }

            &:before {
                z-index: -1;
                position: absolute;
                /* so it sits on top of the border */
                top: -1px;
                bottom: -1px;
                left: -1px;
                right: -1px;
                content: "";
                opacity: 1;
                /* this is what creates the grow affect on hover */
                transform: scaleX(0);
                display: block;
                background: var(--primary);
                transition: transform 0.3s;
                transform-origin: left;
            }

            &:hover {
                &:before {
                    transform: scaleX(1);
                }
            }
        }
    }
}




/*-- -------------------------- -->
<---    Side By Side Reverse    -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #sbsr-2272 {
        padding: var(--sectionPadding);
        background-color: #fdfaf8;
        overflow: hidden;
        position: relative;
        z-index: 1;

        .cs-container {
            width: 100%;
            /* changes to 1280px at tablet */
            max-width: (704/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            max-width: (586/16rem);
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-title {
            max-width: 30ch;
        }

        .cs-text {
            margin-bottom: (32/16rem);
        }

        .cs-button-solid {
            font-size: (16/16rem);
            font-weight: 700;
            /* 46px - 56px */
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            text-align: center;
            text-decoration: none;
            min-width: (150/16rem);
            margin: 0;
            padding: 0 (24/16rem);
            background-color: var(--primary);
            color: var(--headerColor);
            display: inline-block;
            position: relative;
            z-index: 1;

            &:before {
                content: "";
                width: 0%;
                height: 100%;
                background: #000;
                opacity: 1;
                border-radius: (4/16rem);
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
                transition: width 0.3s;
            }

            &:hover {
                &:before {
                    width: 100%;
                }
            }
        }

        .cs-image-group {
            /* scales the whole section down and ties the font size to the vw and stops at 75% of the vale of 1em, changes at desktop */
            font-size: ~"min(2.17vw, .8rem)";
            /* everything inside this box is in ems so we can scale it all down proportionally with a font size */
            width: (670/16em);
            height: (428/16em);
            order: -1;
            position: relative;
            z-index: 1;
            /* prevents flexbox from squishing it */
            flex: none;
        }

        .cs-picture {
            display: block;
            position: absolute;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
            }
        }

        .cs-picture1 {
            width: (265/16em);
            height: (324/16em);
            bottom: (20/16em);
            left: (20/16em);

            &::before {
                content: "";
                width: (226/16em);
                height: 63.271605%;
                border: (4/16em) solid var(--secondary);
                position: absolute;
                bottom: (-20/16em);
                left: (-20/16em);
                z-index: -1;
            }
        }

        .cs-picture2 {
            width: (345/16em);
            height: (408/16em);
            top: (20/16em);
            right: (20/16em);

            &::before {
                content: "";
                width: (197/16em);
                height: 57.598039%;
                border: (4/16em) solid var(--secondary);
                position: absolute;
                top: (-20/16em);
                right: (-20/16em);
                z-index: -1;
            }
        }

        .cs-flower {
            /* 84px - 309px */
            width: clamp(5.25rem, 22vw, 19.3125rem);
            height: auto;
            display: block;
            position: absolute;
            /* 14px - 53px */
            right: calc(clamp(0.875rem, 4vw, 3.3125rem) * -1);
            /* 40px - 109px */
            bottom: calc(clamp(2.5rem, 9vw, 6.8125rem) * -1);
            z-index: -1;
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #sbsr-2272 {
        .cs-container {
            max-width: (1280/16rem);
        }

        .cs-image-group {
            order: initial;
        }
    }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #sbsr-2272 {
        .cs-container {
            flex-direction: row;
            align-items: stretch;
        }

        .cs-content {
            text-align: left;
            align-items: flex-start;
            align-self: center;
        }

        .cs-image-group {
            font-size: ~"min(1.3vw, 1rem)";
            height: auto;
            min-height: (428/16em);
        }

        .cs-picture1 {
            height: auto;
            top: (62/16em);
            bottom: (42/16em);
        }

        .cs-picture2 {
            height: auto;
            top: (20/16em);
            bottom: (0/16em);
        }
    }
}

/* Large Desktop - 1400px */
@media only screen and (min-width: 87.5rem) {
    #sbsr-2272 {
        .cs-flower {
            margin-right: (-755/16rem);
            right: 50%;
        }
    }
}


/*-- -------------------------- -->
<---    Side By Side Reverse    -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #sbsr-2231 {
        padding: var(--sectionPadding);
        background-color: #fdfaf8;
        overflow: hidden;
        position: relative;
        z-index: 1;

        .cs-container {
            width: 100%;
            /* changes to 1280px at tablet */
            max-width: (704/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            max-width: (586/16rem);
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-title {
            max-width: 30ch;
        }

        .cs-text {
            margin-bottom: (32/16rem);
        }

        .cs-button-solid {
            font-size: (16/16rem);
            font-weight: 700;
            /* 46px - 56px */
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            text-align: center;
            text-decoration: none;
            min-width: (150/16rem);
            margin: 0;
            padding: 0 (24/16rem);
            background-color: var(--primary);
            color: var(--headerColor);
            display: inline-block;
            position: relative;
            z-index: 1;

            &:before {
                content: "";
                width: 0%;
                height: 100%;
                background: #000;
                opacity: 1;
                border-radius: (4/16rem);
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
                transition: width 0.3s;
            }

            &:hover {
                &:before {
                    width: 100%;
                }
            }
        }

        .cs-image-group {
            /* scales the whole section down and ties the font size to the vw and stops at 75% of the vale of 1em, changes at desktop */
            font-size: ~"min(2.17vw, .8rem)";
            /* everything inside this box is in ems so we can scale it all down proportionally with a font size */
            width: (670/16em);
            height: (428/16em);
            position: relative;
            z-index: 1;
            /* prevents flexbox from squishing it */
            flex: none;
            order: -1;
        }

        .cs-picture {
            display: block;
            position: absolute;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
            }
        }

        .cs-picture1 {
            width: (265/16em);
            height: (324/16em);
            bottom: (20/16em);
            left: (20/16em);

            &::before {
                content: "";
                width: (226/16em);
                height: 63.271605%;
                border: (4/16em) solid var(--secondary);
                position: absolute;
                bottom: (-20/16em);
                left: (-20/16em);
                z-index: -1;
            }
        }

        .cs-picture2 {
            width: (345/16em);
            height: (408/16em);
            top: (20/16em);
            right: (20/16em);

            &::before {
                content: "";
                width: (197/16em);
                height: 57.598039%;
                border: (4/16em) solid var(--secondary);
                position: absolute;
                top: (-20/16em);
                right: (-20/16em);
                z-index: -1;
            }
        }

        .cs-flower {
            /* 84px - 309px */
            width: clamp(5.25rem, 22vw, 19.3125rem);
            height: auto;
            display: block;
            position: absolute;
            /* 16px - 114px */
            top: calc(clamp(1rem, 7vw, 7.125rem) * -1);
            /* 32px - 100px */
            right: calc(clamp(2rem, 8vw, 6.25rem) * -1);
            z-index: -1;
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #sbsr-2231 {
        .cs-container {
            max-width: (1280/16rem);
        }

        .cs-image-group {
            order: initial;
        }
    }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #sbsr-2231 {
        .cs-container {
            flex-direction: row;
            align-items: stretch;
        }

        .cs-content {
            text-align: left;
            align-items: flex-start;
            align-self: center;
        }

        .cs-image-group {
            font-size: ~"min(1.3vw, 1rem)";
            min-height: (428/16em);
            height: auto;
        }

        .cs-picture1 {
            height: auto;
            top: (62/16em);
            bottom: (42/16em);
        }

        .cs-picture2 {
            height: auto;
            top: (20/16em);
            bottom: (0/16em);
        }
    }
}

/* Large Desktop - 1400px */
@media only screen and (min-width: 87.5rem) {
    #sbsr-2231 {
        .cs-flower {
            left: (-70/16rem);
            right: auto;
            top: (-30/16rem);
            transform: rotate(-100deg);
        }
    }
}
                                






/*-- -------------------------- -->
<---      Side By Side          -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #sbs-2233 {
        padding: var(--sectionPadding);
        background-color: #fbf5f1;
        overflow: hidden;
        position: relative;
        z-index: 1;

        .cs-container {
            width: 100%;
            /* changes to 1280px at tablet */
            max-width: (704/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to center if content needs to be centrally aligned */
            text-align: left;
            width: 100%;
            max-width: (586/16rem);
            display: flex;
            flex-direction: column;
            /* aligns content to the left, set to center to centrally align */
            align-items: flex-start;
        }

        .cs-text {
            /* 24px - 32px */
            margin-bottom: clamp(1.5rem, 3vw, 2rem);
        }

        .cs-options {
            width: 100%;
            margin: 0 0 (32/16rem);
            padding: 0;
            display: flex;
            flex-direction: column;
        }

        .cs-option {
            list-style: none;
            padding: (16/16rem) 0;
            border-bottom: 1px solid #e8e8e8;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            gap: (24/16rem);
            position: relative;
            z-index: 1;

            &:first-of-type {
                padding-top: 0;
            }

            &:last-of-type {
                padding-bottom: 0;
                border: none;
            }
        }

        .cs-option-number {
            font-size: (20/16rem);
            font-weight: 700;
            line-height: 1.2em;
            color: var(--headerColor);
        }

        .cs-option-text {
            font-size: (20/16rem);
            font-weight: 700;
            line-height: 1.2em;
            color: var(--bodyTextColor);
        }

        .cs-button-solid {
            font-size: (16/16rem);
            font-weight: 700;
            /* 46px - 56px */
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            text-align: center;
            text-decoration: none;
            min-width: (150/16rem);
            margin: 0;
            /* prevents padding from adding to the width */
            box-sizing: border-box;
            padding: 0 (24/16rem);
            background-color: var(--primary);
            color: #fff;
            display: inline-block;
            position: relative;
            z-index: 1;

            &:before {
                content: "";
                width: 0%;
                height: 100%;
                background: #000;
                opacity: 1;
                border-radius: (4/16rem);
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
                transition: width 0.3s;
            }

            &:hover {
                &:before {
                    width: 100%;
                }
            }
        }

        .cs-image-group {
            /* scales the whole section down and ties the font size to the vw and stops at 75% of the vale of 1em, changes at desktop */
            font-size: ~"min(2.3vw, .916rem)";
            /* everything inside this box is in ems so we can scale it all down proportionally with a font size */
            width: (640/16em);
            height: (646/16em);
            order: -1;
            position: relative;
            /* prevents flexbox from squishing it */
            flex: none;
        }

        .cs-picture {
            width: (320/16em);
            height: (569/16em);
            overflow: hidden;
            border: (4/16em) solid #fff;
            display: block;
            position: absolute;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
            }
        }

        .cs-picture1 {
            top: 0;
            left: 0;
        }

        .cs-picture2 {
            top: 0;
            right: 0;
        }

        .cs-caption {
            /* 20px - 31px */
            font-size: clamp(1.25rem, 2vw, 1.9375rem);
            font-weight: 700;
            line-height: 1.2em;
            text-align: center;
            width: 83%;
            max-width: (391/16rem);
            margin: 0;
            /* 24px - 40px */
            padding: clamp(1.5rem, 3vw, 2.5rem);
            background-color: var(--secondary);
            color: #fff;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
        }

        .cs-stats {
            width: 100%;
            max-width: (1280/16rem);
            /* 48px - 100px */
            margin: clamp(3rem, 7vw, 6.25rem) auto 0;
            padding: 0;
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            
            row-gap: (8/16rem);
            position: relative;
        }

        .cs-stat {
            /* as the child .cs-number is absolutely positioned, it won't contribute to the size of the box */
            /* we can set the height equal to the font-size which works around this */
            /* 100px - 120px */
            height: clamp(6.25rem, 11vw, 10rem);
            display: flex;
            justify-content: center;
            align-items: center;
            grid-column: span 6;
            position: relative;
        }

        .cs-stat-number {
            /* 100px - 120px */
            font-size: clamp(6.25rem, 11vw, 10rem);
            font-weight: 900;
            line-height: 1.2em;
            margin: 0;
            color: var(--primary);
            opacity: 0.2;
            display: block;
        }

        .cs-stat-text {
            font-size: (20/16rem);
            font-weight: bold;
            line-height: 1.2em;
            margin: 0;
            color: var(--bodyTextColor);
            display: block;
            position: absolute;
            z-index: 2;
        }

        .cs-flower {
            width: (309/16rem);
            height: auto;
            margin-right: (-962/16rem);
            display: none;
            position: absolute;
            right: 50%;
            bottom: 0;
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #sbs-2233 {
        .cs-container {
            max-width: (1280/16rem);
            flex-direction: row;
            align-items: stretch;
        }

        .cs-content {
            /* 48px - 100px */
            padding: clamp(3rem, 7vw, 6.25rem) 0;
        }

        .cs-image-group {
            font-size: min(1vw, 1rem);
            height: auto;
            min-height: (645/16em);
        }

        .cs-picture {
            height: auto;
            top: 0;
            bottom: (77/16em);
        }

        .cs-stats {
            /* 24px - 64px */
            column-gap: clamp(1.5rem, 9vw, 4rem);
        }

        .cs-stat {
            grid-column: span 3;
        }
    }
}

/* Large Desktop - 1400px */
@media only screen and (min-width: 87.5rem) {
    #sbs-2233 {
        .cs-flower {
            display: block;
        }
    }
}
   




/*-- -------------------------- -->
<---   Side By Side Reverse     -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #sbsr-2232 {
        padding: var(--sectionPadding);
        background-color: #fdfaf8;
        overflow: hidden;
        position: relative;
        z-index: 1;

        .cs-container {
            width: 100%;
            /* changes to 1280px on desktop */
            max-width: (584/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-topper {
            color: var(--secondary);
        }

        .cs-title {
            max-width: 30ch;
        }

        .cs-text {
            margin-bottom: (32/16rem);
        }

        .cs-card-group {
            width: 100%;
            margin: 0 0 (32/16rem);
            padding: 0;
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            /* 20px - 24px */
            gap: clamp(1.25rem, 1.7vw, 1.5rem);
        }

        .cs-item {
            text-align: center;
            list-style: none;
            width: 100%;
            margin: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            grid-column: span 12;
            gap: (24/16rem);
            transition: background-color 0.3s;
        }

        .cs-icon-wrapper {
            width: (63/16rem);
            height: (63/16rem);
            border: 1px solid #bababa;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .cs-icon {
            width: (32/16rem);
            height: auto;
            margin: 0;
            display: block;
        }

        .cs-flex {
            flex: 1 1 0;
        }

        .cs-h3 {
            font-size: (20/16rem);
            font-weight: 700;
            line-height: 1.2em;
            text-align: inherit;
            margin: 0 0 (12/16rem);
            color: var(--headerColor);
            transition: color 0.3s;
        }

        .cs-item-text {
            font-size: (16/16rem);
            line-height: 1.5em;
            text-align: inherit;
            width: 100%;
            margin: auto 0 0 0;
            color: var(--bodyTextColor);
            transition: color 0.3s;
        }

        .cs-button-solid {
            font-size: (16/16rem);
            font-weight: 700;
            /* 46px - 56px */
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            text-align: center;
            text-decoration: none;
            min-width: (150/16rem);
            margin: 0;
            padding: 0 (24/16rem);
            background-color: var(--primary);
            color: var(--headerColor);
            display: inline-block;
            position: relative;
            z-index: 1;

            &:before {
                content: "";
                width: 0%;
                height: 100%;
                background: #000;
                opacity: 1;
                border-radius: (4/16rem);
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
                transition: width 0.3s;
            }

            &:hover {
                &:before {
                    width: 100%;
                }
            }
        }

        .cs-image-group {
            /* scales the whole section down and ties the font size to the vw and stops at 75% of the vale of 1em, changes at desktop */
            font-size: ~"min(2.8vw, .89rem)";
            /* everything inside this box is in ems so we can scale it all down proportionally with a font size */
            width: (522/16em);
            height: (611/16em);
            position: relative;
            /* prevents flexbox from squishing it */
            flex: none;
            order: -1;

            &::before {
                content: "";
                width: (281/16em);
                height: (336/16em);
                border: (4/16em) solid var(--secondary);
                position: absolute;
                bottom: 0;
                right: 0;
                z-index: -1;
            }
        }

        .cs-picture {
            width: (493/16em);
            height: (583/16em);
            display: block;
            position: absolute;
            top: 0;
            left: 0;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
            }
        }

        .cs-flower {
            /* 183px - 309px */
            width: clamp(11.4375rem, 28vw, 19.3125rem);
            height: auto;
            display: block;
            position: absolute;
            right: (-60/16rem);
            /* 55px - 109px */
            bottom: calc(clamp(3.4375rem, 6vw, 4.8125rem) * -1);
            z-index: 1;
            transform: rotate(95deg);
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 600px) {
    #sbsr-2232 {
        .cs-content {
            text-align: left;
            align-items: flex-start;
        }

        .cs-item {
            text-align: left;
            align-items: flex-start;
            grid-column: span 6;
        }
    }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #sbsr-2232 {
        .cs-container {
            max-width: (1280/16rem);
            flex-direction: row;
            align-items: stretch;
        }

        .cs-content {
            text-align: left;
            align-items: flex-start;
            align-self: center;
        }

        .cs-image-group {
            font-size: ~"min(1.3vw, 1rem)";
            height: auto;
            min-height: (612/16em);
            order: initial;
        }

        .cs-picture {
            height: auto;
            top: 0;
            bottom: (28/16em);
        }
    }
}

/* Large Desktop - 1400px */
@media only screen and (min-width: 87.5rem) {
    #sbsr-2232 {
        .cs-item {
            flex-direction: row;
        }
    }
}



/*-- -------------------------- -->
<---            CTA             -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #cta-697 {
        padding: var(--sectionPadding);
        background-color: var(--primary);
        position: relative;
        z-index: 1;

        .cs-container {
            width: 100%;
            max-width: (1280/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-title {
            color: var(--bodyTextColorWhite);
        }

        .cs-button-solid {
            font-size: (16/16rem);
            /* 46px - 56px */
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            text-decoration: none;
            font-weight: 700;
            text-align: center;
            margin: 0;
            color: var(--bodyTextColorWhite);
            min-width: (150/16rem);
            padding: 0 (24/16rem);
            background-color: var(--secondary);
            border-radius: (4/16rem);
            display: inline-block;
            position: relative;
            z-index: 1;
            /* prevents padding from adding to the width */
            box-sizing: border-box;

            &:before {
                content: "";
                position: absolute;
                height: 100%;
                width: 0%;
                background: #000;
                opacity: 1;
                top: 0;
                left: 0;
                z-index: -1;
                border-radius: (4/16rem);
                transition: width 0.3s;
            }

            &:hover {
                &:before {
                    width: 100%;
                }
            }
        }

        .cs-background {
            width: 100%;
            height: 100%;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            /* makes it act like a background image */
            object-fit: cover;
        }
    }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #cta-697 {
        .cs-content {
            text-align: left;
            flex-direction: row;
            justify-content: space-between;
        }
    }
}
                                



